<div class="mx-12 flex flex-row gap-x-8 text-center">
  <div class="w-64 pt-4 pb-5 px-6 rounded-2xl shadow-md shadow-sky-700/50">
    <div class="mb-4 flex flex-row justify-between items-center">
      <div *ngFor="let control of paginationControls"
           class="cursor-pointer transition hover:text-yellow-400"
           (click)="shiftMeeting(control.length)"
      >
        <i class="{{control.icon}}"></i>
      </div>
    </div>
    <div class="flex flex-col gap-y-2">
      <div *ngFor="let meeting of windowMeetings"
           class="px-4 py-2 text-lg rounded-full hvr-float-shadow cursor-pointer border {{getBadgeStyle(meeting)}}"
           (click)="setActiveMeeting(meeting)"
      >
        #{{getMeetingIndex(meeting)}}
        &nbsp;
        {{meeting}}
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-8">
    <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
      <div class="mb-4 text-xl font-bold text-green-600">
        Scratched & Prompted
      </div>
      <div class="flex flex-col gap-y-2">
      </div>
    </div>
    <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
      <div class="mb-2 text-xl font-bold text-green-600">
        Interviews
      </div>
      <div class="flex flex-col text-lg">
        <table class="mx-auto table-fixed">
          <thead>
          <th class="py-1 px-2">
            Race#
          </th>
          <th class="py-1 px-2">
            Horse#
          </th>
          <th class="py-1 px-2">
            Interviewee
          </th>
          <th class="py-1 px-5 opacity-0">
            X
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let interview of interviews">
            <td>
              <select [(ngModel)]="interview.race"
                      class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *counter="let race of maxRace" [ngValue]="race">
                  {{race}}
                </option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="interview.order"
                      class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *counter="let order of maxOrder" [ngValue]="order">
                  {{order}}
                </option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="interview.interviewee"
                      class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *ngFor="let person of persons" [ngValue]="person">
                  {{person}}
                </option>
              </select>
            </td>
            <td class="pt-1">
              <div class="px-4 py-0.5 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                   (click)="deleteInterview(interview)"
              >
                <i class="fa fa-trash"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="mt-6 flex flex-row justify-around text-xl">
          <div class="px-8 py-1 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
               (click)="addInterview()"
          >
            <i class="fa fa-plus"></i>
          </div>
          <div class="px-8 py-1 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400 "
               [class.cursor-wait]="isProcessingInterview"
               (click)="saveInterview()"
          >
            <div [class.animate-spin]="isSavingInterview">
              <span *ngIf="isInterviewFailToSave" class="text-red-600">
                <i class="fa fa-times-circle-o"></i>
              </span>
              <span *ngIf="isInterviewSuccessToSave" class="text-green-600">
                <i class="fa fa-check-circle-o"></i>
              </span>
              <span *ngIf="!(isInterviewFailToSave || isInterviewSuccessToSave)">
                <span *ngIf="isValidInterview">
                  <i class="fa fa-save"></i>
                </span>
                <span *ngIf="!isValidInterview" class="text-yellow-400">
                  <i class="fa fa-warning"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
