<div class="mx-12 flex flex-row gap-x-6 items-start text-center">
  <div class="w-64 pt-4 pb-5 px-6 rounded-2xl shadow-md shadow-sky-700/50">
    <div class="mb-2 text-xl font-bold text-green-600">
      Meetings
    </div>
    <div class="mb-3 flex flex-row justify-between items-center">
      <div *ngFor="let control of paginationControls"
           class="cursor-pointer transition hover:text-yellow-400"
           (click)="shiftMeeting(control.length)"
      >
        <i class="{{control.icon}}"></i>
      </div>
    </div>
    <div class="flex flex-col gap-y-2">
      <div *ngFor="let meeting of windowMeetings"
           class="px-4 py-2 text-lg rounded-full hvr-float-shadow cursor-pointer border {{getBadgeStyle(meeting)}}"
           (click)="setActiveMeeting(meeting)"
      >
        #{{getMeetingIndex(meeting)}}
        &nbsp;
        {{meeting}}
      </div>
    </div>
  </div>
  <div class="w-64 pt-4 pb-5 px-6 rounded-2xl shadow-md shadow-sky-700/50">
    <div class="mb-2 text-xl font-bold text-green-600">
      Fines & Suspensions
    </div>
    <div class="mb-3 flex flex-row justify-between items-center">
      <div *ngFor="let control of paginationControls"
           class="cursor-pointer transition hover:text-yellow-400"
           (click)="shiftReport(control.length)"
      >
        <i class="{{control.icon}}"></i>
      </div>
    </div>
    <div class="flex flex-col gap-y-2">
      <div *ngFor="let report of windowReports"
           class="text-lg"
      >
        <div class="text-xl text-left italic text-blue-600">
          {{report.meeting}}
        </div>
        <div *ngFor="let sus of report.suspensions"
             class="grid grid-cols-2 gap-x-4"
        >
          <div>{{sus.person}}</div>
          <div>{{formatMeeting(sus.startAt)}} / {{sus.racedays}}D</div>
        </div>
        <div *ngFor="let fine of report.fines"
             class="grid grid-cols-2 gap-x-4"
        >
          <div>{{fine.person}}</div>
          <div [class.text-red-600]="fine.amount >= TEN_THOUSAND">
            {{fine.amount | currency:'USD':'symbol':'1.0-0'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 items-start">
    <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
      <div class="mb-2 text-xl font-bold text-green-600">
        Scratched & Prompted
      </div>
      <table class="mx-auto table-fixed text-lg">
        <thead>
        <th class="py-1 px-2">Race#</th>
        <th class="py-1 px-2">Horse#</th>
        <th class="py-1 px-2">Jockey</th>
        <th class="py-1 px-2">Trainer</th>
        <th class="py-1 px-4 opacity-0">X</th>
        <th class="py-1 px-2">Jockey</th>
        <th class="py-1 px-2">Trainer</th>
        </thead>
        <tbody>
        <tr>
          <td class="py-1">3</td>
          <td class="py-1">8</td>
          <td class="py-1">PZ</td>
          <td class="py-1">YCH</td>
          <td class="py-1"><i class="fa fa-lg fa-long-arrow-right"></i></td>
          <td class="py-1">PZ</td>
          <td class="py-1">HAD</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-row gap-x-6 items-start">
      <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
        <div class="mb-2 text-xl font-bold text-green-600">
          Interviews
        </div>
        <div class="flex flex-col text-lg">
          <table class="mx-auto table-fixed">
            <thead>
            <th class="py-1 px-2">Race#</th>
            <th class="py-1 px-2">Horse#</th>
            <th class="py-1 px-2">Interviewee</th>
            <th class="py-1 px-5 opacity-0">X</th>
            </thead>
            <tbody>
            <tr *ngFor="let interview of interviews">
              <td>
                <select [(ngModel)]="interview.race"
                        (ngModelChange)="updateInterviewee(interview)"
                        class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent cursor-pointer
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
                >
                  <option *counter="let race of maxRace" [ngValue]="race">
                    {{race}}
                  </option>
                </select>
              </td>
              <td>
                <select [(ngModel)]="interview.order"
                        (ngModelChange)="updateInterviewee(interview)"
                        class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent cursor-pointer
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
                >
                  <option *ngFor="let order of getPossibleOrders(interview.race, interview.order)"
                          [ngValue]="order"
                  >
                    {{order}}
                  </option>
                </select>
              </td>
              <td>
                <select [(ngModel)]="interview.interviewee"
                        class="block w-2/3 mx-auto text-center py-1 appearance-none bg-transparent cursor-pointer
                             border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
                >
                  <option *ngFor="let person of getPossibleInterviewees(interview.race, interview.order)"
                          [ngValue]="person"
                  >
                    {{person}}
                  </option>
                </select>
              </td>
              <td class="pt-1">
                <div class="px-4 py-0.5 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                     [class.cursor-not-allowed]="isOnlyOneInterviewLeft"
                     (click)="deleteInterview(interview)"
                >
                  <i class="fa fa-trash"></i>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="mt-6 flex flex-row justify-around text-xl">
            <div class="px-8 py-1 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                 (click)="addInterview()"
            >
              <i class="fa fa-plus"></i>
            </div>
            <div class="px-8 py-1 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                 [class.cursor-not-allowed]="interviews.length > 0"
                 (click)="populateInterview()"
            >
              <i class="fa fa-table"></i>
            </div>
            <div class="px-8 py-1 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                 [class.cursor-wait]="isProcessingInterview"
                 (click)="saveInterview()"
            >
              <div [class.animate-spin]="isSavingInterview">
              <span *ngIf="isInterviewFailToSave" class="text-red-600">
                <i class="fa fa-times-circle-o"></i>
              </span>
                <span *ngIf="isInterviewSuccessToSave" class="text-green-600">
                <i class="fa fa-check-circle-o"></i>
              </span>
                <span *ngIf="!(isInterviewFailToSave || isInterviewSuccessToSave)">
                <span *ngIf="isValidInterview">
                  <i class="fa fa-save"></i>
                </span>
                <span *ngIf="!isValidInterview" class="text-yellow-400">
                  <i class="fa fa-warning"></i>
                </span>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-y-6 items-start">
        <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
          <div class="mb-2 text-xl font-bold text-green-600">
            Birthdays
          </div>
          <table class="mx-auto table-fixed text-lg">
            <thead>
            <th class="py-1 px-3">Person</th>
            <th class="py-1 px-3">Date</th>
            <th class="py-1 px-3">Age</th>
            </thead>
            <tbody>
            <tr *ngFor="let pb of personBirthdays">
              <td class="py-0.5">{{pb.person}}</td>
              <td class="py-0.5">{{pb.date}}</td>
              <td class="py-0.5">{{pb.age}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="py-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
          <div class="mb-2 text-xl font-bold text-green-600">
            Winners
          </div>
          <table class="mx-auto table-fixed text-lg">
            <thead>
            <th class="py-1 px-2">Person</th>
            <th class="py-1 px-2">Season</th>
            <th class="py-1 px-2">Career</th>
            </thead>
            <tbody>
            <tr *ngFor="let pw of personWinners">
              <td class="py-0.5">{{pw.person}}</td>
              <td class="py-0.5" [class.text-green-600]="pw.season % 10 >= 8">{{pw.season}}</td>
              <td class="py-0.5" [class.text-green-600]="pw.career % 10 >= 8">{{pw.career}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
