<div class="my-10 text-center noselect">
  <table class="mx-auto table-fixed border-collapse">
    <thead class="text-2xl">
    <td class="w-16 pb-3 border border-gray-900 border-b-gray-700 border-r-gray-700">
      No.
    </td>
    <td class="w-28 pb-3 border border-gray-900 border-b-gray-700 border-x-gray-700">
      Kind
    </td>
    <td *ngFor="let meeting of meetings; let index = index; let last = last"
        class="{{getColumnWidth(index)}} pb-3 border border-gray-900 border-b-gray-700"
        [class.text-yellow-400]="index === 1"
        [class.border-x-gray-700]="!last"
    >
      {{meeting}}
    </td>
    </thead>
    <tbody class="text-xl">
    <tr *ngFor="let match of matches; let index = index"
        class="hover:bg-gray-800"
    >
      <td class=""
          [class.py-2]="isIncreaseHeight(match)"
      >
        {{index + 1}}
      </td>
      <td class="italic border border-gray-900 border-x-gray-700"
          [class.py-2]="isIncreaseHeight(match)"
      >
        {{match.kind}}
      </td>
      <td *ngFor="let meeting of meetings; let mIndex = index; let last = last"
          class="border border-gray-900"
          [class.border-x-gray-700]="!last"
          [class.py-2]="isIncreaseHeight(match)"
      >
        <div *ngFor="let h of getMatchesByMeeting(meeting, match.horses)"
             class="flex flex-row text-center"
        >
          <div class="{{h.winOdds ? (mIndex === 1 ? 'basis-3/12': 'basis-4/12') : 'basis-5/12'}}">
            {{h.trainer}}
          </div>
          <div class="{{h.winOdds ? (mIndex === 1 ? 'basis-6/12': 'basis-5/12') : 'basis-7/12'}} {{getPlacingColor(h)}}">
            <span *ngIf="mIndex === 1">
              {{h.race === 10 ? 'X': (h.race === 11 ? 'E' : h.race)}}/{{h.order}}
            </span>
            <a [href]="getHorseProfileUrl(h.horse)"
               target="_blank"
            >
              {{h.horseNameCH}}
            </a>
          </div>
          <div *ngIf="h.winOdds"
               class="basis-3/12"
          >
            {{h.winOdds}}
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
