<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="m-4 flex flex-row justify-evenly">
    <div *ngFor="let section of [BY_STATS]"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(section)}}"
         (click)="activeBadge = section"
    >
      {{ section }}
    </div>
    <div *ngFor="let ss of signalSnapshots"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(ss.meeting)}}"
         (click)="activeBadge = ss.meeting"
    >
      {{ formatMeeting(ss.meeting) }}
      {{ ss.venue }}
    </div>
  </div>

  <div *ngIf="![BY_STATS].includes(activeBadge)"
       class="mx-8 grid grid-cols-2 gap-x-6 gap-y-2"
  >
    <div *counter="let race of maxRace"
         class="pt-2 pb-3 px-4 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
    >
      <div class="mb-2 text-yellow-400 text-lg">
        Race #{{ race }}
      </div>
      <table class="mx-auto table-fixed border-collapse">
        <thead>
          <th *counter="let _ of 5" class="px-2"></th>
          <th class="px-3 invisible">
            X
          </th>
          <th *ngFor="let pool of pools"
              class="px-1"
          >
            {{ pool }}
          </th>
          <th class="px-2">
            Total
          </th>
          <th class="px-1"></th>
        </thead>
        <tbody>
          <tr *ngFor="let starter of getRaceStarters(race); let index = index"
              class="{{toPlacingColor(starter?.placing)}}"
              [class.opacity-50]="starter.scratched"
              [class.line-through]="starter.scratched"
          >
            <td class="px-1">
              <span *ngIf="isTop4WithNoWinPlaceSignalBeforePostTime(race, starter)">
                <i class="fa fa-chevron-right"></i>
              </span>
            </td>
            <td class="px-1">
              {{ starter.order }}
            </td>
            <td class="px-1">
              {{ starter.jockey }}
            </td>
            <td class="px-1">
              {{ starter.trainer }}
            </td>
            <td class="px-1">
              {{ starter?.winOdds | number: '1.0-1' }}
            </td>
            <td class="px-3 invisible">
              X
            </td>
            <td *ngFor="let pool of pools"
                class="px-1"
            >
              <span *ngIf="getBeforePostTimeSignalCount(race, starter.order, pool) > 0">
                {{ getBeforePostTimeSignalCount(race, starter.order, pool) }}
              </span>
            </td>
            <td class="px-2">
              <span *ngIf="getTotalBeforePostTimeSignalCount(race, starter.order) > 0">
                {{ getTotalBeforePostTimeSignalCount(race, starter.order) }}
              </span>
            </td>
            <td class="px-1">
              <span *ngIf="isTop4WithMostSignalBeforePostTime(race, starter)">
                <i class="fa fa-chevron-left"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="activeBadge === BY_STATS"
       class="mt-8"
  >
  </div>
</div>
