<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="m-4 flex flex-row justify-evenly">
    <div *ngFor="let section of [BY_STATS]"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(section)}}"
         (click)="activeBadge = section"
    >
      {{ section }}
    </div>
    <div *ngFor="let ss of signalSnapshots"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(ss.meeting)}}"
         (click)="activeBadge = ss.meeting"
    >
      {{ formatMeeting(ss.meeting) }}
      {{ ss.venue }}
    </div>
  </div>

  <div *ngIf="![BY_STATS].includes(activeBadge)"
       class="mx-8 grid grid-cols-2 gap-x-6 gap-y-2"
  >
    <div *counter="let race of maxRace"
         class="pt-2 pb-3 px-4 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
    >
      <div class="mb-2 text-yellow-500 text-lg">
        Race #{{ race }}
      </div>
      <table class="mx-auto table-fixed border-collapse">
        <thead>
          <th class="w-8"></th>
          <th class="w-12"></th>
          <th class="w-12"></th>
          <th class="w-10"></th>
          <th class="w-6 invisible">
            X
          </th>
          <th class="w-6 invisible">
            Y
          </th>
          <th *ngFor="let pool of pools"
              class="w-9 {{borderedPools.includes(pool) ? 'border border-gray-700' : ''}}"
          >
            {{ pool }}
          </th>
          <th class="w-12 border border-gray-700">
            Total
          </th>
          <th class="w-6"></th>
        </thead>
        <tbody>
          <tr *ngFor="let starter of getRaceStarters(race); let index = index"
              class="{{toPlacingColor(starter?.placing)}}"
              [class.opacity-50]="starter.scratched"
              [class.line-through]="starter.scratched"
          >
            <td>
              {{ starter.order }}
            </td>
            <td>
              {{ starter.jockey }}
            </td>
            <td>
              {{ starter.trainer }}
            </td>
            <td [class.invisible]="getStarterWinOdds(race, starter) < 1"
                class="{{ toPlacingColor(starter?.placing).length === 0
                            ? getOddsIntensityColor(getStarterWinOdds(race, starter))
                            : ''
                       }}"
            >
              {{ getStarterWinOdds(race, starter) | number: '1.0-1' }}
            </td>
            <td class="invisible">
            </td>
            <td class="text-left"
                [class.invisible]="!isTop4WithNoWinPlaceSignalBeforePostTime(race, starter)"
            >
              <i class="fa fa-chevron-right"></i>
            </td>
            <td *ngFor="let pool of pools"
                class="{{borderedPools.includes(pool) ? 'border border-gray-700' : ''}}"
                [class.invisible]="getBeforePostTimeSignalCount(race, starter.order, pool) < 1"
            >
              {{ getBeforePostTimeSignalCount(race, starter.order, pool) }}
            </td>
            <td class="border border-gray-700"
                [class.invisible]="getTotalBeforePostTimeSignalCount(race, starter.order) < 1"
            >
              {{ getTotalBeforePostTimeSignalCount(race, starter.order) }}
            </td>
            <td class="text-right"
                [class.invisible]="!isTop4WithMostSignalBeforePostTime(race, starter)"
            >
              <i class="fa fa-chevron-left"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="w-full px-4 my-2 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>

      <div class="flex flex-row justify-evenly">
        <table *counter="let count of 3"
               class="mx-auto border-collapse"
        >
          <tr *ngFor="let ws of getWinningSignals(race, count)">
            <td class="px-2 border border-gray-700">
              {{ ws.pool }}
            </td>
            <td class="px-2 border border-gray-700">
              {{ ws.combination }}
            </td>
            <td class="px-2 text-yellow-400 border border-gray-700">
              <span *ngIf="ws.signalCount === 0">
                -
              </span>
              <span *ngIf="ws.signalCount != 0">
                {{ ws.signalCount }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="activeBadge === BY_STATS"
       class="mt-8"
  >
  </div>
</div>
