<table class="mt-2 mx-auto table-fixed border-collapse border border-gray-700 text-center">
  <thead>
    <th class="w-16 border border-gray-600">
      Race
    </th>
    <th class="w-36 border border-gray-600 border-r-red-900">
      Top 4
    </th>
    <th *ngFor="let pool of dividendRacePools"
        class="w-20 border border-gray-600"
        [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
    >
      {{ pool.name }}
    </th>
  </thead>
  <tbody>
    <tr *counter="let race of maxRace"
        class="hover:bg-gray-800"
    >
      <td class="border border-gray-700"
          [class.border-b-red-900]="race === maxRace"
      >
        {{ formatRace(race) }}
      </td>
      <td class="px-1 border border-gray-700 border-r-red-900"
          [class.border-b-red-900]="race === maxRace"
      >
        <div class="grid grid-cols-4">
          <div *ngFor="let order of getDividendTop4(race)">
            {{ order }}
          </div>
        </div>
      </td>
      <td *ngFor="let pool of dividendRacePools"
          class="border border-gray-700"
          [class.border-b-red-900]="race === maxRace"
          [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
          [class.text-yellow-400]="getDividendOdds(race, pool.name) >= pool.threshold"
      >
        <span *ngIf="getDividendOdds(race, pool.name) > 0">
          {{ getDividendOdds(race, pool.name) | number }}
        </span>
      </td>
    </tr>

    <tr>
      <th class="border border-gray-700"></th>
      <th class="border border-gray-700 border-r-red-900">
        Cross Race
      </th>
      <th *ngFor="let pool of dividendCrossRacePools"
          class="border border-gray-700"
          [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
      >
        {{ pool.name }}
      </th>
      <th class="border border-gray-700"
          colspan="8"
      >
        Today's Total Turnover
      </th>
    </tr>
    <tr *counter="let row of crossRacePoolDividendRaces.length"
        class="hover:bg-gray-800"
    >
      <td class="border border-gray-700">
        {{ formatRace(getCrossRacePoolDividendRaces(row)) }}
      </td>
      <td class="border border-gray-700 border-r-red-900"></td>
      <td *ngFor="let pool of dividendCrossRacePools"
          class="border border-gray-700"
          [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
          [class.text-yellow-400]="getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) >= pool.threshold"
      >
        <span *ngIf="getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) > 0">
          {{ getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) | number }}
        </span>
      </td>
      <td *ngIf="row === 1"
          class="border border-gray-700 border-l-red-900 text-4xl"
          colspan="8"
          [rowSpan]="crossRacePoolDividendRaces.length"
      >
        {{ todayTurnover | currency:'USD':'symbol':'1.0-0' }}
      </td>
    </tr>
  </tbody>
</table>
