<div class="mx-10 my-6 flex flex-row justify-between items-start noselect">
  <div class="text-center">
    <table class="mx-auto my-2">
      <tr>
        <td class="text-2xl font-bold py-4 pr-6">
          View Modes
        </td>
        <td>
          <div class="flex flex-row justify-start gap-4">
            <div *ngFor="let mode of viewModes"
                 class="px-4 py-2 text-xl rounded-full border cursor-pointer {{getModeStyle(mode)}}"
                 (click)="setActiveMode(mode)"
            >
              {{mode}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-2xl font-bold py-3 pr-6">
          MIN. QTT.
        </td>
        <td>
          <div class="flex flex-row justify-start text-xl gap-3">
            <div *ngFor="let opt of quartetOptions"
                 class="px-3 py-1 rounded-xl border cursor-pointer border-gray-600 hover:border-yellow-400"
                 (click)="setActiveQuartet(opt.multiplier)"
            >
              {{opt.text}}
            </div>
            <div class="px-3 py-1 rounded-xl border cursor-pointer border-gray-600 hover:border-yellow-400"
                 (click)="decreaseMinQTT()"
            >
              <i class="fa fa-minus"></i>
            </div>
            <div class="px-3 py-1 rounded-xl border cursor-pointer border-gray-600 hover:border-yellow-400"
                 (click)="increaseMinQTT()"
            >
              <i class="fa fa-plus"></i>
            </div>
            <div class="text-2xl">
              X {{activeQTT.toLocaleString()}}
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="flex flex-col-reverse">
      <div *ngFor="let persons of personLists; let index = index"
           class="mt-3"
      >
        <div class="text-2xl font-bold mb-6">
          <span *ngIf="index === 0">Jockeys</span>
          <span *ngIf="index === 1">Trainers</span>
        </div>
        <div class="grid grid-cols-5 gap-4">
          <div *ngFor="let person of persons"
               class="px-3 py-1 text-xl rounded-xl border cursor-pointer {{getBadgeStyle(person)}}"
               (click)="setActivePerson(person)"
          >
            {{person}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[0]">
    <div class="text-3xl text-center mb-8">
      Found:
      {{freeModeDividends.length}}
      /
      {{freeModeEngagements}}
      =
      <span class="text-yellow-400">
        {{formatPercentage(freeModeDividends.length, freeModeEngagements)}}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      <div *ngIf="freeModeDividends.length === 0"
           class="my-10 text-center text-4xl text-red-600"
      >
        <i class="fa fa-thermometer-empty"></i>
        <span class="mx-5">NO MATCHES</span>
      </div>
      <div *ngFor="let dividend of freeModeDividends"
           class="px-8 py-3 text-xl rounded-xl border border-gray-600 hover:border-yellow-400"
      >
        <div class="">
          {{getDividendHeader(dividend)}}
        </div>
        <div class="">
          <span *ngFor="let o of ordinals"
                class="mx-2"
          >
            <span class="{{o.color}}">
              {{o.ordinal}}<sup>{{o.superScript}}</sup>
            </span>
            <span *ngFor="let person of getPlacingPair(dividend, o.ordinal); let index = index">
              <span [class.text-yellow-400]="activePersons.includes(person)">
                {{person}}
              </span>
              <span *ngIf="index === 0">
                &#44;
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[1]">
    <div class="flex flex-row-reverse">
      <div *ngFor="let group of singleModeDividends"
           class="mx-5"
      >
        <div *ngFor="let p of group"
             class="m-2 flex flex-row justify-between gap-3 text-xl px-4 py-1 rounded-xl border {{getBadgeStyle(p.person)}}"
        >
          <div>
            {{p.person}}
          </div>
          <div>
            {{p.top4s}} / {{p.engagements}} = {{p.percent}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[2]"
       class="grid grid-cols-2 gap-2"
  >
    <div *ngFor="let pair of doubleModeDividends"
         class="flex flex-row justify-between gap-3 text-xl px-4 py-1 rounded-xl border border-gray-600 hover:border-yellow-400"
    >
      <div>
        {{pair.persons[0]}} & {{pair.persons[1]}}
      </div>
      <div>
        {{pair.top4s}} / {{pair.engagements}} = {{pair.percent}}
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[3]"
       class="grid grid-cols-2 gap-2"
  >
    <div *ngFor="let trio of tripleModeDividends"
         class="flex flex-row justify-between gap-3 text-xl px-4 py-1 rounded-xl border border-gray-600 hover:border-yellow-400"
    >
      <div>
        {{trio.persons[0]}}, {{trio.persons[1]}} & {{trio.persons[2]}}
      </div>
      <div>
        {{trio.top4s}} / {{trio.engagements}} = {{trio.percent}}
      </div>
    </div>
  </div>
</div>
