<div class="m-10 flex flex-row justify-around items-start noselect">
  <div class="text-center">
    <div class="m-4 flex flex-row justify-center">
      <div *ngFor="let mode of viewModes"
           class="mx-3 px-5 py-2 text-2xl font-bold rounded-full border cursor-pointer {{getModeStyle(mode)}}"
           (click)="setActiveMode(mode)"
      >
        {{mode}}
      </div>
    </div>
    <div class="flex flex-col-reverse">
      <div *ngFor="let persons of personLists; let index = index"
           class="mt-5"
      >
        <div class="text-2xl font-bold mb-8">
          <span *ngIf="index === 0">Jockeys</span>
          <span *ngIf="index === 1">Trainers</span>
        </div>
        <div class="grid grid-cols-5 gap-4 text-xl">
          <div *ngFor="let person of persons"
               class="px-3 py-1 rounded-xl border cursor-pointer {{getPersonStyle(person)}}"
               (click)="setActivePerson(person)"
          >
            {{person}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[0]">
    <div class="text-3xl text-center mb-8">
      Found:
      {{dividends.length}}
      /
      {{totalEngagements}}
      =
      <span class="text-yellow-400">
        {{formatPercentage(dividends.length, totalEngagements)}}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      <div *ngIf="dividends.length === 0"
           class="my-10 text-center text-4xl text-red-600"
      >
        <i class="fa fa-thermometer-empty"></i>
        <span class="mx-5">NO MATCHES</span>
      </div>
      <div *ngFor="let dividend of dividends"
           class="px-8 py-3 text-xl rounded-xl border border-gray-600 hover:border-yellow-400"
      >
        <div class="">
          {{getDividendHeader(dividend)}}
        </div>
        <div class="">
          <span *ngFor="let o of ordinals"
                class="mx-2"
          >
            <span class="{{o.color}}">
              {{o.ordinal}}<sup>{{o.superScript}}</sup>
            </span>
            <span *ngFor="let person of getPlacingPair(dividend, o.ordinal); let index = index">
              <span [class.text-yellow-400]="activePersons.includes(person)">
                {{person}}
              </span>
              <span *ngIf="index === 0">
                &#44;
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[1]">
    <div class="flex flex-row-reverse">
      <div *ngFor="let group of singleModeDividends"
           class="mx-5"
      >
        <div *ngFor="let p of group"
             class="m-2 flex flex-row justify-between gap-3 text-xl px-4 py-1 rounded-xl border {{getPersonStyle(p.person)}}"
        >
          <div>
            {{p.person}}
          </div>
          <div>
            {{p.top4s}} / {{p.engagements}} = {{p.percent}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeMode === viewModes[2]"
       class="grid grid-cols-2 gap-2"
  >
    <div *ngFor="let pair of doubleModeDividends"
         class="flex flex-row justify-between gap-3 text-xl px-4 py-1 rounded-xl border {{getPairStyle(pair.pair)}}"
    >
      <div>
        {{pair.pair[0]}} & {{pair.pair[1]}}
      </div>
      <div>
        {{pair.top4s}} / {{pair.engagements}} = {{pair.percent}}
      </div>
    </div>
  </div>
</div>
