<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="mx-8 flex flex-col gap-y-2">
    <div class="flex flex-row justify-between text-xl">
      <div>
        Most Recent
      </div>
      <div>
        Least Recent
      </div>
    </div>
    <div *ngFor="let _ of PLACING_MAPS; let index = index"
         class="flex flex-row justify-center gap-x-1"
    >
      <div *counter="let race of maxMostRecentRace"
           class="w-2.5 h-2.5 {{getBackgroundColor(race, index + 1)}}"
      >
      </div>
    </div>
    <div class="flex flex-row justify-center gap-x-1">
      <div *counter="let race of maxMostRecentRace"
           class="w-2.5 h-2.5"
           [class.bg-yellow-600]="isMultipleInheritance(race)"
      >
      </div>
    </div>
  </div>

  <div class="mx-8 my-6 grid grid-cols-4 gap-x-4 gap-y-2 text-lg">
    <div *ngFor="let m of meetings"
         class="pt-2 pb-3 px-4 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
    >
      <div class="text-yellow-400">
        {{ m.meeting }} ({{ m.venue }})
      </div>
      <div class="grid grid-cols-5">
        <div></div>
        <div *ngFor="let pm of PLACING_MAPS; let index = index"
             class="{{pm.color}}"
        >
          <span *ngIf="getDrawPlacingCount(m.meeting, index + 1) < 1">
            X
          </span>
          <span *ngIf="getDrawPlacingCount(m.meeting, index + 1) >= 1">
            {{ getDrawPlacingCount(m.meeting, index + 1) + pm.placing }}
          </span>
        </div>
      </div>
      <div *ngFor="let race of getRacesOnMeeting(m.meeting)"
           class="grid grid-cols-5 text-lg"
      >
        <div class="italic">
          #{{ race }}
        </div>
        <div *ngFor="let pm of PLACING_MAPS; let index = index"
             class="{{ isInherited(m.meeting, race, index + 1) ? pm.color : 'opacity-50'}}"
        >
          {{ getDrawOdds(m.meeting, race, index + 1) | number: '1.0-1' }}
        </div>
      </div>
    </div>
  </div>

  <table class="mx-auto table-fixed border-collapse font-mono">
    <thead class="text-xl">
      <th class="w-24 border border-gray-600 py-1">
        <i class="fa fa-calendar"></i>
      </th>
      <th *counter="let race of MAX_RACE_PER_MEETING"
          class="w-32 border border-gray-600"
      >
        {{ formatRace(race) }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let m of meetings; let last = last"
          class="hover:bg-gray-800"
      >
        <td class="h-10 border border-gray-700 text-xl py-1"
            [class.border-b-yellow-400]="!last && isBoundaryMeeting(meetings, m.meeting)"
        >
          {{ formatMeeting(m.meeting) }}
        </td>
        <td *counter="let race of MAX_RACE_PER_MEETING"
            class="h-10 border border-gray-700 py-1"
            [class.border-b-yellow-400]="!last && isBoundaryMeeting(meetings, m.meeting)"
        >
          <div class="grid grid-cols-3 items-center">
            <div class="col-span-2 grid grid-cols-2">
              <div *ngFor="let dpp of getDrawPlacingPerformance(m.meeting, race)"
                   class="{{dpp.inherit ? COLORS[dpp.placing - 1] : 'opacity-50'}}"
              >
                {{ dpp.draw }}
              </div>
            </div>
            <div class="col-span-1 text-yellow-400 px-1"
                 [class.invisible]="(getDrawPerformance(m.meeting, race)?.inheritance || 0) == 1"
                 [class.opacity-50]="(getDrawPerformance(m.meeting, race)?.inheritance || 0) == 2"
            >
              <div *ngIf="(getDrawPerformance(m.meeting, race)?.inheritance || 0) > 0"
                   class="border border-gray-300"
              >
                {{ getDrawPerformance(m.meeting, race)?.inheritance || '' }}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
