<table class="my-8 mx-auto table-fixed border-collapse border border-gray-600 text-center noselect">
  <thead class="text-xl">
  <th *ngFor="let field of fields; let index = index"
      class="border border-gray-600 py-2"
      [class.px-4]="[1].includes(index)"
      [class.px-8]="![0,1,2].includes(index)"
      [class.px-12]="[0,2].includes(index)"
  >
    {{field}}
  </th>
  </thead>
  <tbody class="text-lg">
  <tr *ngFor="let tyield of yields"
      class="hover:bg-gray-800 "
  >
    <td class="border border-gray-700 py-2 cursor-pointer"
        tooltip="{{tyield.description}}"
        [hideDelay]="0"
        [class.font-bold]="activeVersion === tyield.version"
        [class.text-yellow-400]="activeVersion === tyield.version"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
        (click)="activeVersion = tyield.version"
    >
      {{tyield.version}}
    </td>
    <td class="border border-gray-700 py-2"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      <div class="grid grid-cols-3 gap-x-1 px-6">
        <div class="text-green-600">
          {{countMeetings(tyield)[0]}}
        </div>
        <div>/</div>
        <div>
          {{countMeetings(tyield)[1]}}
        </div>
      </div>
    </td>
    <td class="border border-gray-700 py-2"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      <span class="text-green-600">
        {{countRaces(tyield)[0]}}
      </span>
      /
      {{countRaces(tyield)[1]}}
      /
      {{countRaces(tyield)[2]}}
    </td>
    <td class="border border-gray-700 py-2"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      <div class="w-11/12 mx-auto grid grid-cols-3 px-2">
        <div class="text-green-600">
          {{countBetlines(tyield)[0]}}
        </div>
        <div>/</div>
        <div>
          {{countBetlines(tyield)[1]}}
        </div>
      </div>
    </td>
    <td class="border border-gray-700 py-2 text-red-600"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      -{{tyield.debit | currency:'USD':'symbol':'1.0-0'}}
    </td>
    <td class="border border-gray-700 py-2 text-green-600"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      +{{tyield.credit | currency:'USD':'symbol':'1.0-0'}}
    </td>
    <td class="border border-gray-700 py-2"
        [class.text-red-600]="tyield.credit < tyield.debit"
        [class.text-green-600]="tyield.credit > tyield.debit"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      {{(tyield.credit - tyield.debit) | currency:'USD':'symbol':'1.0-0'}}
    </td>
    <td class="border border-gray-700 py-2 {{getTesterROIColor(tyield)}}"
        [class.border-b-blue-700]="boundaryVersions.includes(tyield.version)"
    >
      {{getReturnOnInvestment(tyield)}}
    </td>
  </tr>
  </tbody>
</table>

<div class="my-8 text-center">
  <span class="text-3xl text-yellow-400">
    {{activeVersion}} :
  </span>
  <span class="text-xl">
    {{activeTesterDescription}}
  </span>
</div>

<table class="mx-auto table-fixed border-collapse border border-gray-600 text-center noselect">
  <thead class="text-lg">
  <th class="border border-gray-600 py-1 px-6">
    #
  </th>
  <th *ngFor="let field of meetingFields; let index = index"
      class="border border-gray-600 py-1"
      [class.px-6]="index > 1"
      [class.px-10]="index <= 1"
  >
    {{field}}
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let myield of meetingYields; let index = index"
      class="hover:bg-gray-800"
  >
    <td class="border border-gray-700 py-1 font-mono">
      {{index + 1}}
    </td>
    <td class="border border-gray-700 py-1 font-mono">
      {{myield.meeting}}
    </td>
    <td class="border border-gray-700 py-1">
      <div class="grid grid-cols-5 gap-x-1 px-3">
        <div class="{{countRacesOnMeeting(myield)[0] === 0 ? 'text-yellow-400' : 'text-green-600'}}">
          {{countRacesOnMeeting(myield)[0]}}
        </div>
        <div>/</div>
        <div [class.text-yellow-400]="countRacesOnMeeting(myield)[1] !== countRacesOnMeeting(myield)[2]">
          {{countRacesOnMeeting(myield)[1]}}
        </div>
        <div>/</div>
        <div>
          {{countRacesOnMeeting(myield)[2]}}
        </div>
      </div>
    </td>
    <td class="border border-gray-700 py-1">
      <div class="grid grid-cols-3 gap-x-1 px-6">
        <div class="{{countBetlinesOnMeeting(myield)[0] === 0 ? 'text-yellow-400' : 'text-green-600'}}">
          {{countBetlinesOnMeeting(myield)[0]}}
        </div>
        <div>/</div>
        <div>
          {{countBetlinesOnMeeting(myield)[1]}}
        </div>
      </div>
    </td>
    <td class="border border-gray-700 py-1 text-red-600">
      -{{myield.debit | currency:'USD':'symbol':'1.0-0'}}
    </td>
    <td class="border border-gray-700 py-1">
      <span *ngIf="myield.credit > 0" class="text-green-600">
        +{{myield.credit | currency:'USD':'symbol':'1.0-0'}}
      </span>
      <span *ngIf="myield.credit <= 0" class="text-yellow-400">
        X
      </span>
    </td>
    <td class="border border-gray-700 py-1"
        [class.text-red-600]="myield.credit < myield.debit"
        [class.text-green-600]="myield.credit > myield.debit"
    >
      {{(myield.credit - myield.debit) | currency:'USD':'symbol':'1.0-0'}}
    </td>
    <td class="border border-gray-700 py-1 {{getMeetingROIColor(myield)}}">
      {{getReturnOnInvestment(myield)}}
    </td>
  </tr>
  </tbody>
</table>
