<div class="mx-8 text-center text-lg">
  <div class="grid grid-cols-3 grid-flow-row auto-rows-max items-start gap-4">
    <div *ngFor="let section of sections"
         class="pt-2 pb-2.5 px-4 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
         [class.row-span-2]="section === SECTION_STATEMENT"
         [class.self-center]="section === SECTION_STATEMENT"
    >
      <div class="mb-2 text-xl font-bold text-blue-600">
        {{ section.toUpperCase() }}
      </div>
      <div *ngIf="section === SECTION_INCOME"
           class=""
      >
        <table class="mx-auto">
          <tr>
            <th></th>
            <th>Cash Flow</th>
          </tr>
          <tr>
            <td class="px-8 text-left italic text-blue-600">Active</td>
            <td></td>
          </tr>
          <tr *ngFor="let income of activeIncomes">
            <td class="px-8 text-left">
              {{ income.category }}
            </td>
            <td class="px-8 text-right text-green-600">
              {{ income.amount | currency:'USD':'symbol':'1.0-0' }}
            </td>
          </tr>
          <tr>
            <td class="px-8 pt-4 text-left italic text-blue-600">Passive</td>
            <td></td>
          </tr>
          <tr *ngFor="let income of passiveIncomes">
            <td class="px-8 text-left">
              {{ income.category }}
            </td>
            <td class="px-8 text-right text-green-600">
              {{ income.amount | currency:'USD':'symbol':'1.0-0' }}
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="section === SECTION_EXPENSE"
           class=""
      >
        <table class="mx-auto">
          <tr>
            <th></th>
            <th>Cash Flow</th>
          </tr>
          <ng-container *ngFor="let group of EXPENSE_GROUPS; let first = first">
            <tr>
              <td class="px-8 text-left italic text-blue-600"
                  [class.pt-2]="!first"
              >
                {{ group.group }}
              </td>
              <td></td>
            </tr>
            <tr *ngFor="let expense of getExpenses(group)">
              <td class="px-8 text-left">
                {{ expense.category }}
              </td>
              <td class="px-8 text-right text-red-600">
                {{ expense.amount | currency:'USD':'symbol':'1.0-0' }}
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div *ngIf="section === SECTION_ASSET"
           class=""
      >
        <table class="mx-auto">
          <tr>
            <th></th>
            <th></th>
            <th>Current</th>
          </tr>
          <tr *ngFor="let asset of assets">
            <td class="px-6 text-left">
              {{ asset.category }}
            </td>
            <td class="px-6 text-right">
              {{ asset.amount | currency:'USD':'symbol':'1.0-0' }}
            </td>
            <td class="px-6">
              <div *ngIf="asset.current">
                <div class="w-3 h-3 rounded-full bg-green-600">
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="section === SECTION_LIABILITY"
           class=""
      >
        <table class="mx-auto">
          <tr>
            <th></th>
            <th></th>
            <th>Months</th>
            <th>APR</th>
          </tr>
          <tr *ngFor="let liability of liabilities">
            <td class="px-4 text-left">
              {{ liability.category }}
            </td>
            <td class="px-4 text-right">
              {{ liability.amount | currency:'USD':'symbol':'1.0-0' }}
            </td>
            <td class="px-4">
              {{ liability.periodInMonth }}
            </td>
            <td class="px-4">
              {{ liability.annualizedInterestRate | percent }}
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="section === SECTION_STATEMENT"
           class=""
      >
        <div class="px-8 grid grid-cols-2">
          <div class="text-left text-xl">
            CASH:
          </div>
          <div class="text-right text-xl">
            {{ cash | currency:'USD':'symbol':'1.0-0' }}
          </div>
          <div class="pt-8 text-left">
            TOTAL INCOME:
          </div>
          <div class="pt-8 text-right text-green-600">
            {{ totalIncome | currency:'USD':'symbol':'1.0-0' }}
          </div>
          <div class="pt-2 text-left">
            TOTAL EXPENSES:
          </div>
          <div class="pt-2 text-right text-red-600">
            {{ totalExpenses | currency:'USD':'symbol':'1.0-0' }}
          </div>
          <div class="col-span-2 my-2 h-1 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
          <div class="text-left">
            PAYDAY:
          </div>
          <div class="text-right text-red-600"
               [class.text-green-600]="totalIncome >= totalExpenses"
               [class.text-red-600]="totalIncome < totalExpenses"
          >
            {{ (totalIncome - totalExpenses) | currency:'USD':'symbol':'1.0-0' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-6 h-1 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>

  <div class="flex flex-row gap-x-4">
    <div class="pt-3 pb-4 px-6 shadow-md transition shadow-gray-600">
      <div class="text-xl font-bold text-blue-600">
        {{ transactionLabel }}
      </div>
      <table class="mx-auto table-fixed text-left">
        <thead>
          <th class="w-32"></th>
          <th class="w-44"></th>
        </thead>
        <tbody>
          <tr>
            <td class="pt-3">Date</td>
            <td class="pt-3">
              <input
                [(ngModel)]="editingTransaction.date"
                required
                type="date"
                pattern="\d{4}-\d{2}-\d{2}"
                class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              />
            </td>
          </tr>
          <tr>
            <td class="pt-3">Type</td>
            <td class="pt-3">
              <select
                [(ngModel)]="editingTransaction.type"
                class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *ngFor="let type of TRANSACTION_TYPES" [ngValue]="type">
                  {{ type }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="pt-3">Category</td>
            <td class="pt-3">
              <select
                [(ngModel)]="editingTransaction.category"
                class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *ngFor="let category of categories" [ngValue]="category">
                  {{ category }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="pt-3">Method</td>
            <td class="pt-3">
              <select
                [(ngModel)]="editingTransaction.method"
                class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              >
                <option *ngFor="let method of TRANSACTION_METHODS" [ngValue]="method">
                  {{ method }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="pt-3">Amount (HK$)</td>
            <td class="pt-3">
              <input
                [(ngModel)]="editingTransaction.amount"
                required
                type="number"
                placeholder="99"
                min="0"
                max="99999"
                class="block w-full text-center py-0.5 bg-transparent
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              />
            </td>
          </tr>
          <tr>
            <td class="pt-3">Remark</td>
            <td class="pt-3">
              <input
                [(ngModel)]="editingTransaction.remark"
                type="text"
                placeholder="Description"
                maxlength="140"
                class="block w-full text-center py-0.5 appearance-none bg-transparent
                       border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 flex flex-row justify-between">
        <div class="w-14 h-14 pl-0.5 pt-3.5 rounded-full cursor-pointer
                    bg-gradient-to-br from-sky-500 to-indigo-700 hvr-wobble-skew"
             (click)="addTransaction()"
        >
          <i class="fa fa-lg fa-plus"></i>
        </div>
        <div class="w-14 h-14 pl-0.5 pt-3 rounded-full cursor-pointer
                    bg-gradient-to-br from-sky-500 to-indigo-700 hvr-wobble-skew"
             (click)="saveTransaction()"
        >
          <i class="fa fa-lg fa-save"></i>
        </div>
      </div>
    </div>

    <div class="relative overflow-x-auto shadow-md rounded-lg">
      <table class="table-fixed text-left">
        <thead class="text-gray-400 bg-gradient-to-br from-gray-700 via-gray-900 to-gray-700">
          <tr>
            <th *ngFor="let field of transactionFields; let first = first"
                class="px-3 py-2 uppercase cursor-pointer transition hover:text-blue-500"
                [class.text-blue-500]="sortedField === field"
                (click)="toggleSortable(field)"
            >
              <div class="flex flex-row justify-between items-center">
                <div [class.pr-3]="!first">
                  {{ field }}
                </div>
                <div *ngIf="sortedField === field">
                  <span *ngIf="isSortAscending">
                    <i class="fa fa-sort-amount-asc"></i>
                  </span>
                  <span *ngIf="!isSortAscending">
                    <i class="fa fa-sort-amount-desc"></i>
                  </span>
                </div>
                <div *ngIf="sortedField !== field">
                  <svg
                    class="w-3 h-3 ms-1.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                    />
                  </svg>
                </div>
              </div>
            </th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trans of transactions; let last = last"
              class="bg-gray-800/50 border-gray-700 hover:bg-gray-700/50"
          >
            <td class="px-3 py-2 whitespace-nowrap"
                [class.rounded-bl-lg]="last"
            >
              {{ trans.date | date }}
            </td>
            <td class="px-3 py-2">
              {{ trans.type }}
            </td>
            <td class="px-3 py-2 text-center">
              {{ trans.category }}
            </td>
            <td class="px-3 py-2 text-center">
              {{ trans.method }}
            </td>
            <td class="px-3 py-2 text-center">
              {{ trans.amount | currency:'USD':'symbol':'1.0-1' }}
            </td>
            <td class="px-3 py-2 whitespace-nowrap">
              {{ trans.remark | truncate:[8] }}
            </td>
            <td class="px-3 py-2 text-center cursor-pointer transition hover:text-blue-500"
                (click)="copyTransaction(trans)"
            >
              <i class="fa fa-copy"></i>
            </td>
            <td class="pl-3 pr-2 pt-0.5 text-center cursor-pointer transition hover:text-blue-500"
                (click)="editTransaction(trans)"
            >
              <i class="fa fa-edit"></i>
            </td>
            <td class="pl-3 pr-4 py-2 text-center cursor-pointer transition hover:text-red-600"
                [class.rounded-br-lg]="last"
                (click)="deleteTransaction(trans)"
            >
              <i class="fa fa-trash"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
