<div class="mt-6 flex flex-row justify-evenly noselect">
  <div *counter="let race of getMaxRace(this.racecards)"
       class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(this.activeRace, race)}}"
       (click)="activeRace = race"
  >
    Race {{race}}
  </div>
</div>

<div class="mt-4 flex flex-row justify-center items-center noselect">
  <div *ngIf="isBankerExist"
       class="mx-3 order-2"
  >
    <i class="fa fa-2x fa-chevron-right"></i>
  </div>
  <ng-container *ngFor="let starter of getStarters(this.activeRacecard)">
    <div *ngIf="isFavorite(starter, this.activeRacecard)"
         class="flex flex-col mx-3 items-center cursor-pointer
                px-3 pt-2 pb-2.5 rounded-xl border transition border-gray-900 hover:border-yellow-400"
         [class.order-1]="isBanker(starter)"
         [class.order-3]="!isBanker(starter)"
         [class.border-yellow-400]="isBanker(starter)"
         (click)="toggleBanker(starter)"
    >
      <div class="mb-2">
        {{starter.order}}
        {{getHorseNameCH(starter.horse)}}
      </div>
      <img src="https://racing.hkjc.com/racing/content/Images/RaceColor/{{starter.horse}}.gif"
           alt="Silk"
           class="block w-12"
      />
    </div>
  </ng-container>
</div>

<div class="mt-2 mx-6 grid grid-cols-4 gap-4 noselect">
  <div class="px-4 pt-2 pb-2.5 text-center rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600">
    <div class="text-lg">
      Controls
    </div>
    <div class="my-2 grid grid-cols-2 gap-4">
      <div class="px-2 pt-1 pb-1.5 rounded-xl border border-gray-600 hover:border-yellow-400 cursor-pointer"
           (click)="reset()"
      >
        Reset
      </div>
    </div>
  </div>
  <div *ngFor="let starter of getStarters(this.activeRacecard)"
       class="px-3 pt-2 pb-2.5 text-center rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600"
  >
    <div class="flex flex-row items-center">
      <div class="w-8 h-8 pt-0.5 text-lg rounded-full {{getPlacingBorderBackground(starter.jockey, activeRacecard)}}">
        {{starter.order}}
      </div>
      <div class="w-20 ml-3 text-lg text-left">
        {{getHorseNameCH(starter.horse)}}
      </div>
      <div class="w-8 mx-2 text-xl font-mono">
        {{starter.jockey}}
      </div>
      <div class="w-8 mx-2 text-xl font-mono">
        {{starter.trainer}}
      </div>
      <div class="w-8 text-lg cursor-pointer"
           (click)="toggleFavorite(starter)"
      >
        <span *ngIf="isFavorite(starter, this.activeRacecard)" class="text-yellow-400">
          <i class="fa fa-star"></i>
        </span>
        <span *ngIf="!isFavorite(starter, this.activeRacecard)">
          <i class="fa fa-star-o"></i>
        </span>
      </div>
    </div>
    <div class="mt-2 flex flex-row items-center">
      <div *ngIf="getSingularSignals(starter)[0].length > 0"
           class="w-10 text-yellow-400"
      >
        <i class="fa fa-dollar"></i> x{{ getSingularSignals(starter)[0].length }}
      </div>
      <div *ngIf="getSingularSignals(starter)[0].length === 0"
           class="w-10"
           [class.invisible]="!isPreferredWQWR(starter, this.activeRacecard)"
      >
        <i class="fa fa-lg fa-thumbs-up"></i>
      </div>
      <div *ngFor="let inv of getInvestments(starter).slice(0, 2); let index = index"
           class="w-28 pt-0.5 {{COLORS[index]}}"
      >
        {{inv.odds}} ({{inv.percent}})
      </div>
    </div>
    <div class="mt-1 flex flex-row items-center">
      <div *ngIf="getSingularSignals(starter)[1].length > 0"
           class="w-10 text-yellow-400"
      >
        <i class="fa fa-dollar"></i> x{{ getSingularSignals(starter)[1].length }}
      </div>
      <div *ngIf="getSingularSignals(starter)[1].length === 0"
           class="w-10"
           [class.invisible]="!isPreferredPQPR(starter, this.activeRacecard)"
      >
        <i class="fa fa-lg fa-thumbs-up"></i>
      </div>
      <div *ngFor="let inv of getInvestments(starter).slice(2, 4); let index = index"
           class="w-28 pt-0.5 {{COLORS[index + 2]}}"
      >
        {{inv.odds}} ({{inv.percent}})
      </div>
    </div>
    <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
    <div class="flex flex-row items-center">
      <div class="w-10"
           [class.invisible]="true"
      >
        <i class="fa fa-lg fa-thumbs-up"></i>
      </div>
      <div *ngFor="let inv of getInvestments(starter).slice(4, 6); let index = index"
           class="w-28 pt-0.5 {{COLORS[index]}}"
      >
        {{inv.odds}} ({{inv.percent}})
      </div>
    </div>
    <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
    <div class="flex flex-row items-center">
      <div class="w-10"
           [class.invisible]="!isPreferredWDWR(starter)"
      >
        <i class="fa fa-lg fa-thumbs-up"></i>
      </div>
      <div *ngFor="let inv of getInvestments(starter).slice(6, 8); let index = index"
           class="w-28 pt-0.5 {{COLORS[0]}}"
      >
        <div *ngIf="index === 0 && activeRace !== maxRace">
          {{inv.odds}} ({{inv.percent}})
        </div>
        <div *ngIf="index === 1 && activeRace !== 1">
          {{inv.odds}} ({{inv.percent}})
        </div>
      </div>
    </div>
  </div>
</div>
