<div class="mx-8 text-center text-lg">
  <div class="grid grid-cols-2 grid-flow-row auto-rows-max items-start gap-6">
    <div *ngFor="let group of accountGroups"
         class="pt-2 pb-2.5 px-8 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
    >
      <div class="mb-2 text-xl font-bold text-blue-600">
        {{ group.group.toUpperCase() }}
      </div>
      <div *ngFor="let account of group.accounts"
           class="text-left"
      >
        {{ account.name }}
      </div>
    </div>
  </div>
</div>
