<div class="mx-10 mt-8 flex flex-row justify-evenly noselect">
  <div *counter="let race of maxRace"
       class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(race)}}"
       (click)="setActiveRace(race)"
  >
    Race {{race}}
  </div>
</div>

<div class="mx-10 mt-6 flex flex-row items-start noselect">
  <div class="w-1/2 px-4">
    <div class="mb-4 flex flex-row justify-evenly">
      <div
        class="px-4 pt-1.5 pb-2 rounded-2xl border border-gray-600 hover:border-yellow-400 hvr-grow-shadow cursor-pointer"
        (click)="findFirstFourResult()"
      >
        Result
      </div>
      <div
        class="px-4 pt-1.5 pb-2 rounded-2xl border border-gray-600 hover:border-yellow-400 hvr-grow-shadow cursor-pointer"
        (click)="resetStarterState()"
      >
        Reset
      </div>
      <div
        class="px-4 pt-1.5 pb-2 rounded-2xl border border-gray-600 hover:border-yellow-400 hvr-grow-shadow cursor-pointer"
        (click)="trashBottom6Starters()"
      >
        Trash B6
      </div>
      <div
        class="px-4 pt-1.5 pb-2 rounded-2xl text-green-600 border border-gray-600 hvr-grow-shadow cursor-pointer"
        (click)="copyRecommendedBets()"
      >
        Copy
      </div>
      <div
        class="px-4 pt-1.5 pb-2 rounded-2xl text-yellow-400 border border-gray-600 hvr-grow-shadow cursor-pointer"
        (click)="copyShownBets()"
      >
        Copy
      </div>
    </div>
    <div class="grid grid-cols-2 gap-x-6 gap-y-4">
      <div *ngFor="let starter of activeStarters"
           class="pt-2 pb-2.5 grid grid-cols-4 justify-items-center text-center rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600"
      >
        <div class="w-8 h-8 pt-0.5 rounded-full {{getPlacingBorderBackground(starter)}}">
          {{starter.order}}
        </div>
        <div class="text-lg">
          {{starter.horse}}
        </div>
        <div class="text-xl"
             [class.text-red-600]="!isUnwantedStarter(starter)"
        >
          {{getActiveStarterWinPlaceOdds(starter).win}}
        </div>
        <div class="text-xl"
             [class.text-blue-600]="!isUnwantedStarter(starter)"
        >
          {{getActiveStarterWinPlaceOdds(starter).place}}
        </div>
        <div class="text-xl font-mono">
          {{starter.jockey}}
        </div>
        <div class="text-xl font-mono">
          {{starter.trainer}}
        </div>
        <div class="text-lg cursor-pointer"
             (click)="toggleBanker(starter)"
        >
        <span *ngIf="isBankerStarter(starter)" class="text-yellow-400">
          <i class="fa fa-heart"></i>
        </span>
          <span *ngIf="!isBankerStarter(starter)">
          <i class="fa fa-heart-o"></i>
        </span>
        </div>
        <div class="text-lg cursor-pointer"
             (click)="toggleTrash(starter)"
        >
        <span *ngIf="isUnwantedStarter(starter)" class="text-red-600">
          <i class="fa fa-times"></i>
        </span>
          <span *ngIf="!isUnwantedStarter(starter)">
          <i class="fa fa-trash-o"></i>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 px-4">
    <div class="mb-2 flex flex-row text-center text-2xl">
      <div class="w-1/2">
        <span class="text-green-600">
          {{recommendedTop4Starters.length}}
        </span>
        /
        <span class="text-yellow-400">
          {{top4Starters.length}} Comb.
        </span>
      </div>
      <div class="w-1/2 flex flex-row">
        <div class="px-3 hover:text-yellow-400"
             (click)="currentPage = 1"
        >
          <i class="fa fa-lg fa-angle-double-left"></i>
        </div>
        <div class="px-3 hover:text-yellow-400"
             (click)="currentPage = currentPage - (currentPage > 1 ? 1 : 0)"
        >
          <i class="fa fa-lg fa-angle-left"></i>
        </div>
        <div class="px-3">
          {{currentPage}} / {{totalPages}}
        </div>
        <div class="px-3 hover:text-yellow-400"
             (click)="currentPage = currentPage + (currentPage < totalPages ? 1 : 0)"
        >
          <i class="fa fa-lg fa-angle-right"></i>
        </div>
        <div class="px-3 hover:text-yellow-400"
             (click)="currentPage = totalPages"
        >
          <i class="fa fa-lg fa-angle-double-right"></i>
        </div>
      </div>
    </div>
    <table class="mx-auto table-fixed border-collapse border border-gray-500 text-center noselect">
      <thead>
      <th class="w-16 border border-gray-600 border-r-yellow-400">
        #
      </th>
      <th *ngFor="let o of ordinals; let last = last"
          class="w-20 border border-gray-600"
          [class.border-r-yellow-400]="last"
      >
        {{o.ordinal}}<sup>{{o.superScript}}</sup>
      </th>
      <th class="w-20 border border-gray-600">
        FF@
      </th>
      <th class="w-20 border border-gray-600">
        Wgt.
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let top4 of currentPageTop4Starters; let index = index">
        <td class="border border-gray-700 border-r-yellow-400"
            [class.bg-gray-800]="isFirstFourPlacing(top4.combination)"
        >
          {{(currentPage - 1) * pageSize + index + 1}}
        </td>
        <td *ngFor="let order of top4.combination; let last = last"
            class="border border-gray-700"
            [class.border-r-yellow-400]="last"
            [class.bg-gray-800]="isFirstFourPlacing(top4.combination)"
            [class.text-yellow-400]="isBankerOrder(order)"
        >
          {{order}}
        </td>
        <td class="border border-gray-700"
            [class.bg-gray-800]="isFirstFourPlacing(top4.combination)"
            [class.font-bold]="isFirstFourPlacing(top4.combination)"
            [class.text-yellow-400]="isFirstFourPlacing(top4.combination)"
        >
          {{
          [0, 999].includes(getFirstFourOdds(top4.combination))
            ? '-'
            : getFirstFourOdds(top4.combination)
          }}
        </td>
        <td class="border border-gray-700 italic"
            [class.bg-gray-800]="isFirstFourPlacing(top4.combination)"
            [class.font-bold]="isFirstFourPlacing(top4.combination)"
            [class.text-yellow-400]="isFirstFourPlacing(top4.combination)"
            [class.text-green-600]="!isFirstFourPlacing(top4.combination) && isRecommendedTop4Starter(top4)"
        >
          {{top4.weight}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
