<div class="flex flex-row justify-evenly noselect"
     [class.mt-8]="maxMeetingStarterOrder <= 12"
     [class.mt-6]="maxMeetingStarterOrder === 13"
     [class.mt-4]="maxMeetingStarterOrder === 14"
>
  <div *counter="let race of getMaxRace(this.racecards)"
       class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(this.activeRace, race)}}"
       (click)="activeRace = race"
  >
    Race {{race}}
  </div>
</div>

<div class="m-4 grid grid-cols-4 noselect">
  <div *ngFor="let c of rangeControls"
       class="flex flex-row justify-evenly items-center px-6 text-center"
  >
    <div class="flex flex-col gap-y-1">
      <div class="{{buttonStyle}}"
           (click)="adjustOdds(c.pool, c.step, true, false)"
      >
        <i class="fa fa-minus"></i>
      </div>
      <div class="text-2xl">
        {{c.minOdds}}
      </div>
      <div class="{{buttonStyle}}"
           (click)="adjustOdds(c.pool, c.step, true, true)"
      >
        <i class="fa fa-plus"></i>
      </div>
    </div>
    <div class="text-2xl">
      &#8828;
    </div>
    <div class="flex flex-col gap-y-1">
      <div class="{{buttonStyle}} text-yellow-400">
        {{getSelectedBetCount(c.pool)}}
      </div>
      <div class="text-2xl">
        {{c.pool}}
      </div>
      <div class="{{buttonStyle}}"
           (click)="copyBets(c.pool)"
      >
        <i class="fa fa-copy"></i>
      </div>
    </div>
    <div class="text-2xl">
      &#8828;
    </div>
    <div class="flex flex-col gap-y-1">
      <div class="{{buttonStyle}}"
           (click)="adjustOdds(c.pool, c.step, false, false)"
      >
        <i class="fa fa-minus"></i>
      </div>
      <div class="text-2xl">
        {{c.maxOdds}}
      </div>
      <div class="{{buttonStyle}}"
           (click)="adjustOdds(c.pool, c.step, false, true)"
      >
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
  <div class="flex flex-col py-4 gap-y-4 items-center">
    <div class="grid grid-cols-2 gap-x-8">
      <div class="text-xl text-right">
        My Bets:
      </div>
      <div class="text-2xl text-center text-yellow-400">
        {{totalSelectedBetCount}}
      </div>
    </div>
    <div class="flex flex-row justify-center gap-x-3">
      <div class="{{buttonStyle}} pt-1 pb-1.5"
           (click)="resetBets()"
      >
        Reset
      </div>
      <div class="{{buttonStyle}} pt-1 pb-1.5"
           (click)="copyBets()"
      >
        Copy
      </div>
      <div class="{{buttonStyle}} pt-1 pb-1.5"
           (click)="applyConnectionBets()"
      >
        Connect
      </div>
    </div>
  </div>
</div>

<table class="mx-auto table-fixed text-center border-collapse border border-gray-700 noselect"
       (mouseleave)="hoveredJockey = ''"
>
  <tr class="font-bold">
    <td class="w-40 border border-gray-700">
      <div>2<sup>nd</sup></div>
      <div>1<sup>st</sup></div>
    </td>
    <td *ngFor="let starter of getStarters(this.activeRacecard)"
        class="w-20 border border-gray-700 {{getPlacingColor(starter.jockey, activeRacecard)}}"
        [class.bg-gray-800]="hoveredJockey === starter.jockey"
        (mouseenter)="hoveredJockey = starter.jockey"
    >
      <div>
        {{starter.jockey}}
      </div>
      <div class="{{getTrainerColor(starter)}}">
        {{starter.trainer}}
      </div>
      <div class="flex flex-row justify-evenly">
        <div>
          {{starter.order}}
        </div>
        <div *ngIf="isFavorite(starter, this.activeRacecard)"
             class="text-yellow-400"
        >
          <i class="fa fa-star"></i>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngFor="let starterA of getStarters(this.activeRacecard); let indexA = index"
      class="hover:bg-gray-800"
  >
    <td class="border border-gray-700 font-bold">
      <div class="grid grid-cols-4">
        <div class="text-red-600">
          {{getStarterWinPlaceOdds(starterA, this.activeRacecard).win}}
        </div>
        <div class="col-span-2">
          {{starterA.horseNameCH}}
        </div>
        <div>
          {{starterA.order}}
        </div>
        <div class="text-blue-600">
          {{getStarterWinPlaceOdds(starterA, this.activeRacecard).place}}
        </div>
        <div class="col-span-2 text-green-600">
          {{getStarterQWOdds(starterA, this.activeRacecard)}}
        </div>
        <div *ngIf="isPreferredWQWR(starterA)"
             class="text-yellow-400"
        >
          <i class="fa fa-thumbs-up"></i>
        </div>
      </div>
    </td>
    <td *ngFor="let starterB of getStarters(this.activeRacecard); let indexB = index"
        class="border border-gray-700 {{getQQPCellColor(starterA, starterB)}}"
        [class.bg-gray-800]="hoveredJockey === starterB.jockey"
        [class.diagonal-line]="starterA.order === starterB.order"
        (mouseenter)="hoveredJockey = starterB.jockey"
    >
      <div *ngIf="starterA.order !== starterB.order"
           class="grid grid-cols-2"
      >
        <div *ngIf="indexB > indexA"
             class="cursor-pointer {{getPairStyle('qin', starterA, starterB)}}"
             [class.text-yellow-400]="isFinalQQPCombination(starterA, starterB)[0]"
             (click)="toggleBet('qin', starterA, starterB)"
        >
          <span *ngIf="isQQPOddsWithinRange(starterA, starterB)[0] || isFinalQQPCombination(starterA, starterB)[0]">
            {{getStarterQQPOdds(starterA, starterB)[0]}}
          </span>
          <span *ngIf="!(isQQPOddsWithinRange(starterA, starterB)[0] || isFinalQQPCombination(starterA, starterB)[0])">
            -
          </span>
        </div>
        <div *ngIf="indexB > indexA"
             class="cursor-pointer {{getPairStyle('qpl', starterA, starterB)}}"
             [class.text-yellow-400]="isFinalQQPCombination(starterA, starterB)[1]"
             (click)="toggleBet('qpl', starterA, starterB)"
        >
          <span *ngIf="isQQPOddsWithinRange(starterA, starterB)[1] || isFinalQQPCombination(starterA, starterB)[1]">
            {{getStarterQQPOdds(starterA, starterB)[1]}}
          </span>
          <span *ngIf="!(isQQPOddsWithinRange(starterA, starterB)[1] || isFinalQQPCombination(starterA, starterB)[1])">
            -
          </span>
        </div>
        <div *ngIf="indexA > indexB"
             class="cursor-pointer {{getPairStyle('fct', starterA, starterB)}}"
             [class.text-yellow-400]="isFinalFCTCombination(starterA, starterB)"
             (click)="toggleBet('fct', starterA, starterB)"
        >
          <span *ngIf="isFCTOddsWithinRange(starterA, starterB)[0] || isFinalFCTCombination(starterA, starterB)">
            {{getStarterFCTOdds(starterA, starterB)[0]}}
          </span>
          <span *ngIf="!(isFCTOddsWithinRange(starterA, starterB)[0] || isFinalFCTCombination(starterA, starterB))">
            -
          </span>
        </div>
        <div *ngIf="indexA > indexB"
             class="cursor-pointer {{getPairStyle('fct', starterB, starterA)}}"
             [class.text-yellow-400]="isFinalFCTCombination(starterB, starterA)"
             (click)="toggleBet('fct', starterB, starterA)"
        >
          <span *ngIf="isFCTOddsWithinRange(starterA, starterB)[1] || isFinalFCTCombination(starterB, starterA)">
            {{getStarterFCTOdds(starterA, starterB)[1]}}
          </span>
          <span *ngIf="!(isFCTOddsWithinRange(starterA, starterB)[1] || isFinalFCTCombination(starterB, starterA))">
            -
          </span>
        </div>
      </div>
    </td>
  </tr>
</table>
