<div class="mx-4 grid grid-cols-4 py-4 gap-4 text-center">
  <div *ngFor="let betType of multiBankerBetTypes"
       class="w-24 {{controlButtonStyle}}"
       (click)="copyMultiBankerBets(betType)"
  >
    <i class="fa fa-copy"></i>
    <span class="ml-2">{{ betType }}</span>
  </div>
  <div class="w-24 {{controlButtonStyle}}"
       (click)="resetSelections()"
  >
    Reset S.
  </div>
  <div *ngFor="let betType of multiBankerBetTypes.slice(1)"
       class="text-2xl text-yellow-400"
  >
    {{ getMultiBankerBets(betType).length }}
  </div>
</div>
<div class="overflow-y-auto h-28 mx-4 px-4 pt-1 pb-1.5 rounded-xl border border-gray-600">
  <div class="mb-2 flex flex-row justify-between gap-x-4">
    <div>
      Recommendation
    </div>
    <div>
      {{ activeRecommendationTime }}
    </div>
  </div>
  <div *ngIf="activeRecommendationCombinations === 0"
       class="text-center text-lg font-bold text-red-600"
  >
    SKIP THIS RACE!
    <br>
    TAKE A BREAK NOW!
  </div>
  <table *ngIf="activeRecommendationCombinations > 0"
         class="text-left"
  >
    <tr class="hover:text-yellow-400 cursor-pointer"
        (click)="copyRecommendationBets(true, '')"
    >
      <td>
        <i class="fa fa-copy"></i>
      </td>
      <td class="px-2">
        ({{ activeRecommendationCombinations }})
      </td>
      <td>
        All Bets
      </td>
    </tr>
    <tr *ngFor="let bet of activeRecommendation.bets"
        class="hover:text-yellow-400 cursor-pointer"
        (click)="copyRecommendationBets(false, bet.betline)"
    >
      <td>
        <i class="fa fa-copy"></i>
      </td>
      <td class="px-2">
        ({{ bet.combinations }})
      </td>
      <td>
        {{ bet.betline }}
      </td>
    </tr>
  </table>
</div>
