<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="my-1 h-1 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
  <div class="my-3 flex flex-row justify-evenly">
    <div *counter="let race of getMaxRace(this.racecards)"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(this.activeRace, race)}}"
         (click)="activeRace = race"
    >
      Race {{ race }}
    </div>
  </div>
  <div class="my-1 h-1 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>

  <div class="mt-4 flex flex-row text-lg text-center justify-center items-start gap-x-6">
    <div class="flex flex-col gap-y-2.5">
      <div *ngFor="let starter of getStarters(this.activeRacecard)"
           class="flex flex-col gap-y-1 items-center cursor-pointer px-4 py-2 rounded-2xl
                  shadow transition shadow-sky-700/50 hover:shadow-sky-600"
           [class.opacity-50]="isTrashStarter(starter)"
           (click)="toggleTrashStarter(starter.order)"
      >
        <div class="flex flex-row">
          <div class="w-10">
            <div class="w-8 h-8 rounded-full {{getPlacingBorderBackground(starter.jockey, this.activeRacecard)}}">
              {{ starter.order }}
            </div>
          </div>
          <div class="w-14 {{ isTrashStarter(starter) ? 'line-through' : '' }}">
            {{ starter.jockey }}
          </div>
          <div class="w-14 {{ isTrashStarter(starter) ? 'line-through' : '' }}">
            {{ starter.trainer }}
          </div>
          <div class="w-14 text-red-600">
            <span>
              {{ getStarterWinPlaceOdds(starter, this.activeRacecard).win }}
            </span>
            <sup class="text-xs">W</sup>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="w-10">
            <div class="w-8 h-8 border"
                 [class.border-dashed]="lastTop4Draws.includes(starter.draw)"
                 [class.border-green-600]="lastTop4Draws.includes(starter.draw)"
                 [class.border-gray-700]="!lastTop4Draws.includes(starter.draw)"
            >
              {{ starter.draw }}
            </div>
          </div>
          <div class="w-28 {{ isTrashStarter(starter) ? 'line-through' : '' }}">
            {{ getHorse(starter).nameCH }}
          </div>
          <div class="w-14">
            <span *ngIf="getRanking(starter) <= 3"
                  class="font-bold text-green-600"
            >
              +{{ getRanking(starter) }}
            </span>
            <span *ngIf="getRanking(starter) > 3 && getReverseRanking(starter) <= 4"
                  class="font-bold text-blue-600"
            >
              -{{ getReverseRanking(starter) }}
            </span>
            <span *ngIf="getRanking(starter) > 3 && getReverseRanking(starter) > 4">
              #{{ getRanking(starter) }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <table class="table-fixed border-collapse border border-gray-600">
      <thead>
      <th class="w-20 py-2 border border-gray-600 border-r-2 border-r-red-900">
        #
      </th>
      <th class="w-24 py-2 border border-gray-600">
        Starter A
      </th>
      <th class="w-24 py-2 border border-gray-600 border-r-2 border-r-red-900">
        Starter B
      </th>
      <th class="w-20 py-2 border border-gray-600 cursor-help"
          tooltip="Draw Inheritance"
          [hideDelay]="0"
      >
        DI
      </th>
      <th class="w-20 py-2 border border-gray-600 cursor-help border-r-2 border-r-red-900"
          tooltip="Distant Pair"
          [hideDelay]="0"
      >
        DP
      </th>
      <th *ngFor="let dp of dualPlacings; let last = last"
          class="w-20 py-2 border border-gray-600 {{ last ? 'border-r-2 border-r-red-900' : '' }}"
      >
        {{ dp }}
      </th>
      <th class="w-20 py-2 border border-gray-600">
        Total
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let dpm of dualPlacingMaps; let index = index"
          class="hover:bg-gray-800"
          [class.bg-gray-800]="[dpm.starter1.order, dpm.starter2.order].includes(activeOrder)"
      >
        <td class="py-1 border border-gray-700 opacity-80 border-r-2 border-r-red-900
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
        >
          {{ index + 1 }}
        </td>
        <td class="py-1 border border-gray-700 cursor-pointer
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
            [class.text-red-600]="activeOrder === dpm.starter1.order"
            (click)="toggleActiveOrder(dpm.starter1.order)"
        >
          {{ dpm.starter1.order }}
        </td>
        <td class="py-1 border border-gray-700 cursor-pointer border-r-2 border-r-red-900
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
            [class.text-red-600]="activeOrder === dpm.starter2.order"
            (click)="toggleActiveOrder(dpm.starter2.order)"
        >
          {{ dpm.starter2.order }}
        </td>
        <td class="py-1 border border-gray-700
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
        >
          <span *ngIf="isDrawInheritancePair(dpm.starter1, dpm.starter2)"
                [class.text-yellow-400]="isMatchResult(dpm.starter1, dpm.starter2, [])"
          >
            <i class="fa fa-check"></i>
          </span>
        </td>
        <td class="py-1 border border-gray-700 border-r-2 border-r-red-900
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
        >
          <span *ngIf="!isConnectedPair(dpm.starter1, dpm.starter2)"
                [class.text-yellow-400]="isMatchResult(dpm.starter1, dpm.starter2, [])"
          >
            <i class="fa fa-check"></i>
          </span>
        </td>
        <td *ngFor="let count of dpm.counts; let last = last"
            class="py-1 border border-gray-700 opacity-80 {{ last ? 'border-r-2 border-r-red-900' : '' }}
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
            [class.font-bold]="isMatchResult(dpm.starter1, dpm.starter2, count.placings)"
            [class.text-yellow-400]="isMatchResult(dpm.starter1, dpm.starter2, count.placings)"
        >
          <span *ngIf="count.count !== 0">
            {{ count.count }}
          </span>
          <span *ngIf="count.count === 0">
            {{ isMatchResult(dpm.starter1, dpm.starter2, count.placings) ? 'X' : '' }}
          </span>
        </td>
        <td class="py-1 border border-gray-700
                  {{(index + 1) % 20 === 0 ? 'border-b-2 border-b-green-600' : ''}}"
        >
          {{ dpm.countSum }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
