<div class="mx-24 my-8 text-center text-2xl bg-gray-800 rounded-full flex flex-row justify-between noselect">
  <div *ngFor="let section of sections"
       class="w-full py-2.5 rounded-full {{getSectionStyle(section)}}"
       (click)="activeSection = section"
  >
    {{section}}
  </div>
</div>

<div class="noselect">
  <div *ngIf="activeSection === sections[0]">
    <app-form-note></app-form-note>
  </div>
  <div *ngIf="activeSection === sections[1]">
    <app-form-owner></app-form-owner>
  </div>
  <div *ngIf="activeSection === sections[2]">
    <app-form-bet></app-form-bet>
  </div>
  <div *ngIf="activeSection === sections[3]">
    <app-form-people></app-form-people>
  </div>
  <div *ngIf="activeSection === sections[4]">
    <div class="my-8 text-4xl text-green-600 text-center">
      Racing Fixture 23/24
      <img src="assets/fixture-23-24.png"
           alt="Racing Fixture 23/24"
           class="block mx-auto pt-6 w-2/3"
      />
    </div>
  </div>
</div>
