<div class="mx-12 my-8 text-center text-2xl bg-gray-800 rounded-full flex flex-row justify-between">
  <div *ngFor="let section of sections"
       class="w-full py-2.5 rounded-full {{getSectionStyle(section)}}"
       (click)="activeSection = section"
  >
    {{ section }}
  </div>
</div>

<div *ngIf="activeSection === sections[0]">
  <app-form-reminder></app-form-reminder>
</div>
<div *ngIf="activeSection === sections[1]">
  <app-form-owner></app-form-owner>
</div>
<div *ngIf="activeSection === sections[2]">
  <app-form-player></app-form-player>
</div>
<div *ngIf="activeSection === sections[3]">
  <app-form-bet></app-form-bet>
</div>
<div *ngIf="activeSection === sections[4]">
  <app-form-fixture></app-form-fixture>
</div>
