<div class="mx-16 flex flex-col gap-y-6 text-left">
  <div class="">
    <div class="text-3xl text-green-600">
      Rules
    </div>
    <div class="text-xl flex flex-col gap-y-2 ml-8 mt-4">
      <div *ngFor="let rule of rules; let index = index"
           class="flex flex-row"
      >
        <div class="w-12 text-blue-600">
          #{{ index + 1 }}
        </div>
        <div>
          {{ rule }}
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="text-3xl text-green-600">
      Rewards
    </div>
    <div class="text-xl flex flex-col gap-y-2 ml-8 mt-4">
      <div *ngFor="let spec of rewardSpecs; let index = index"
           class="flex flex-row"
      >
        <div class="w-12 text-blue-600">
          #{{ index + 1 }}
        </div>
        <div>
          {{ spec }}
        </div>
      </div>
      <div>
        <table class="mt-2 border-collapse border border-gray-600 text-center">
          <tr *ngFor="let reward of rewards">
            <td class="border border-gray-600 py-1.5 px-3">
              {{ reward.item }}
            </td>
            <td class="border border-gray-600 py-1.5 px-3">
              {{ reward.percentage }}%
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="">
    <div class="text-3xl text-green-600">
      Point Table
    </div>
    <div class="text-xl flex flex-col gap-y-2 ml-8 mt-4">
      <div *ngFor="let spec of pointTableSpecs; let index = index"
           class="flex flex-row"
      >
        <div class="w-12 text-blue-600">
          #{{ index + 1 }}
        </div>
        <div>
          {{ spec }}
        </div>
      </div>
      <div>
        <table class="mt-2 table-fixed border-collapse border border-gray-600 text-center">
          <thead class="text-2xl">
            <th class="w-32 border border-gray-700 py-2 px-3"></th>
            <th *ngFor="let pm of PLACING_MAPS"
                class="w-28 border border-gray-700 py-2 px-3 {{pm.color}}"
            >
              {{ pm.placing }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let oi of ODDS_INTENSITIES; let row = index">
              <td class="border border-gray-700 py-2 px-3">
                <div class="uppercase {{oi.color}}">
                  {{ oi.category }}
                </div>
                <div>
                  [{{ oi.lower | number: '1.0-1' }} , {{ oi.upper | number: '1.0-1' }})
                </div>
              </td>
              <td *ngFor="let _ of PLACING_MAPS; let column = index"
                  class="border border-gray-700 py-2 px-3"
              >
                {{ (row + 1) * (4 - column) }} pt
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
