<div class="mx-12 grid grid-cols-3 text-lg">
  <div class="col-span-1">
    <div class="text-center text-xl bg-gray-800 rounded-full flex flex-row justify-between">
      <div *ngFor="let section of sections"
           class="w-full py-2 rounded-full {{getSectionStyle(section)}}"
           (click)="setActiveSection(section)"
      >
        {{ section }}
      </div>
    </div>
    <div class="mt-6 flex justify-evenly">
      <div *ngFor="let groupedPlayers of [trainers, jockeys]; let index = index; let first = first"
           class="flex flex-col gap-y-2 text-center dd-container"
           cdkDropList
           (cdkDropListDropped)="dropPlayer($event, !first)"
      >
        <div class="px-2 py-1 text-lg rounded-full hvr-float-shadow cursor-pointer
                    border border-gray-600 hover:border-yellow-400 {{getStatusColor(saveOrderText[index])}}"
             [class.cursor-not-allowed]="saveOrderText[index] != SAVE_ORDERING"
             (click)="saveOrdering(!first, index)"
        >
          {{ saveOrderText[index] }}
        </div>
        <div class="px-2 py-1 text-lg rounded-full hvr-float-shadow cursor-pointer
                    border border-gray-600 hover:border-yellow-400"
             (click)="addNewPlayer(!first)"
        >
          New {{ first ? 'Trainer' : 'Jockey' }}
        </div>
        <div class="my-1 h-1 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
        <div *ngFor="let player of groupedPlayers"
             class="w-40 px-2 py-1 text-lg rounded-full hvr-float-shadow dd-container-item
                    cursor-pointer border {{getBadgeStyle(player)}}"
             [class.border-b-2]="player.boundary"
             [class.border-b-green-600]="player.boundary"
             (click)="setActivePlayer(player)"
             cdkDrag
        >
          <div class="flex flex-row w-full">
            <div class="w-1/3 text-right">
              #{{ player?.order || 0 }}
            </div>
            <div class="w-2/3 pl-2">
              {{ player.code }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2 flex justify-evenly items-start">
    <div class="pt-3 pb-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
      <div class="mb-2 grid grid-cols-2 items-center">
        <div class="pl-2">
          <img src="assets/people/{{editingPlayer.code}}.jpg"
               onerror="this.src='assets/people/XXX.svg'"
               alt="{{ editingPlayer.code }}"
               class="h-18 rounded-xl"
          />
        </div>
        <div class="pl-4 text-green-600 text-5xl font-bold">
          {{ editingPlayer.code }}
        </div>
      </div>
      <table class="mx-auto table-fixed text-left text-xl">
        <thead>
        <th class="w-36"></th>
        <th class="w-32"></th>
        </thead>
        <tbody>
        <tr>
          <td class="pt-3">Code</td>
          <td class="pt-3">
            <input
              [(ngModel)]="editingPlayer.code"
              [readOnly]="isExistingPlayer"
              required
              type="text"
              minlength="2"
              maxlength="3"
              placeholder="XXX"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">Last Name</td>
          <td class="pt-3">
            <input
              [(ngModel)]="editingPlayer.lastName"
              [readOnly]="isExistingPlayer"
              required
              type="text"
              placeholder="Smith"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">First Name</td>
          <td class="pt-3">
            <input
              [(ngModel)]="editingPlayer.firstName"
              [readOnly]="isExistingPlayer"
              required
              type="text"
              placeholder="John"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">Short Name</td>
          <td class="pt-3">
            <input
              [(ngModel)]="editingPlayer.shortName"
              [readOnly]="isExistingPlayer"
              required
              type="text"
              placeholder="J Smith"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">Nickname</td>
          <td class="pt-3">
            <input
              [(ngModel)]="editingPlayer.nickname"
              required
              type="text"
              placeholder=""
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">DOB</td>
          <td class="pt-3 text-right">
            <input
              [(ngModel)]="editingPlayer.dateOfBirth"
              [readOnly]="isExistingPlayer"
              required
              type="date"
              pattern="\d{4}-\d{2}-\d{2}"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-3">Age</td>
          <td class="pt-3 text-right">
            {{ editingAge }}
          </td>
        </tr>
        <tr>
          <td class="pt-3">Nationality</td>
          <td class="pt-3 text-lg">
            <select [(ngModel)]="editingPlayer.nationality"
                    [disabled]="isExistingPlayer"
                    class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                           border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
            >
              <option *ngFor="let nation of NATIONALITIES"
                      [ngValue]="nation"
              >
                {{ nation }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="py-3">Licence</td>
          <td class="py-3 text-lg">
            <select [(ngModel)]="editingPlayer.licence"
                    [disabled]="isExistingPlayer"
                    class="block w-full text-center py-0.5 appearance-none bg-transparent cursor-pointer
                           border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
            >
              <option *ngFor="let licence of LICENCES"
                      [ngValue]="licence"
              >
                {{ licence }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="">Jockey?</td>
          <td class="pt-3 float-right">
            <label class="inline-flex cursor-pointer">
              <input [(ngModel)]="editingPlayer.jockey"
                     type="checkbox"
                     class="sr-only peer"
              >
              <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
              >
              </div>
            </label>
          </td>
        </tr>
        <tr>
          <td class="">Active?</td>
          <td class="pt-3 float-right">
            <label class="inline-flex cursor-pointer">
              <input [(ngModel)]="editingPlayer.active"
                     type="checkbox"
                     class="sr-only peer"
              >
              <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
              >
              </div>
            </label>
          </td>
        </tr>
        <tr>
          <td class="">Boundary?</td>
          <td class="pt-3 float-right">
            <label class="inline-flex cursor-pointer">
              <input [(ngModel)]="editingPlayer.boundary"
                     type="checkbox"
                     class="sr-only peer"
              >
              <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
              >
              </div>
            </label>
          </td>
        </tr>
        <tr>
          <td class="">Newcomer?</td>
          <td class="pt-3 float-right">
            <label class="inline-flex cursor-pointer">
              <input [(ngModel)]="editingPlayer.newcomer"
                     type="checkbox"
                     class="sr-only peer"
              >
              <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
              >
              </div>
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="pt-3 pb-4 px-6 rounded-2xl shadow-md shadow-sky-700/50">
      <div class="mb-4 text-3xl text-center font-bold text-green-600">
        Career Wins
      </div>
      <table class="mx-auto table-fixed text-center text-xl">
        <thead>
        <th class="w-24 py-2">Up-To-Date</th>
        <th class="w-32 py-2">Count</th>
        <th class="w-14 py-2 opacity-0">X</th>
        </thead>
        <tbody>
        <tr *ngFor="let career of editingPlayer.careerWins">
          <td class="pt-3">
            <input
              [(ngModel)]="career.upToDate"
              required
              type="date"
              pattern="\d{4}-\d{2}-\d{2}"
              class="block w-full px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
          <td class="pt-3">
            <input
              [(ngModel)]="career.wins"
              required
              type="number"
              placeholder="0"
              min="0"
              max="3000"
              class="block w-3/4 mx-auto px-3 py-1 text-lg bg-transparent border border-gray-600 rounded-lg"
            />
          </td>
          <td class="pt-3">
            <div class="px-2 py-0.5 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
                 [class.cursor-not-allowed]="this.editingPlayer.careerWins.length <= 1"
                 (click)="deleteCareerWin(career)"
            >
              <i class="fa fa-trash"></i>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mt-4 grid grid-cols-3 items-center text-xl text-center">
        <div class="mx-auto w-16 py-2 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
             (click)="addCareerWin()"
        >
          <i class="fa fa-lg fa-plus"></i>
        </div>
        <div class="mx-auto w-16 py-2 rounded-2xl cursor-pointer border border-gray-600 hover:border-yellow-400"
             [class.cursor-not-allowed]="!isValidPlayer"
             (click)="savePlayer()"
        >
          <span *ngIf="isValidPlayer">
            <i class="fa fa-lg fa-save"></i>
          </span>
          <span *ngIf="!isValidPlayer" class="text-yellow-400">
            <i class="fa fa-lg fa-warning"></i>
          </span>
        </div>
        <div class="{{getStatusColor(editingStatus)}}">
          {{ editingStatus }}
        </div>
      </div>
    </div>
  </div>
</div>
