<div class="mx-16 grid grid-cols-2 text-lg">
  <div class="col-span-1">
    X
  </div>
  <div class="col-span-1">
    <table class="table-fixed text-left text-xl">
      <thead>
      <th class="w-32"></th>
      <th class="w-32"></th>
      </thead>
      <tbody>
      <tr>
        <td class="pt-3">Last Name</td>
        <td></td>
      </tr>
      <tr>
        <td class="pt-3">First Name</td>
        <td></td>
      </tr>
      <tr>
        <td class="pt-3">Short Name</td>
        <td></td>
      </tr>
      <tr>
        <td class="pt-3">Nickname</td>
        <td></td>
      </tr>
      <tr>
        <td class="pt-3">Nationality</td>
        <td class="text-lg">
          <select [(ngModel)]="editingPlayer.nationality"
                  class="block w-2/3 mx-auto text-center py-0.5 appearance-none bg-transparent cursor-pointer
                         border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
          >
            <option *ngFor="let nation of NATIONALITIES"
                    [ngValue]="nation"
            >
              {{ nation }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="pt-3">Licence</td>
        <td class="text-lg">
          <select [(ngModel)]="editingPlayer.licence"
                  class="block w-2/3 mx-auto text-center py-0.5 appearance-none bg-transparent cursor-pointer
                         border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0"
          >
            <option *ngFor="let licence of LICENCES"
                    [ngValue]="licence"
            >
              {{ licence }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="pt-3">DOB</td>
        <td class="pt-3 text-right">1983-08-02</td>
      </tr>
      <tr>
        <td class="pt-3">Age</td>
        <td class="pt-3 text-right">40.6</td>
      </tr>
      <tr>
        <td class="">Active</td>
        <td class="pt-3 float-right">
          <label class="inline-flex cursor-pointer">
            <input [(ngModel)]="editingPlayer.active"
                   type="checkbox"
                   class="sr-only peer"
            >
            <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
            >
            </div>
          </label>
        </td>
      </tr>
      <tr>
        <td class="">Boundary</td>
        <td class="pt-3 float-right">
          <label class="inline-flex cursor-pointer">
            <input [(ngModel)]="editingPlayer.boundary"
                   type="checkbox"
                   class="sr-only peer"
            >
            <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
            >
            </div>
          </label>
        </td>
      </tr>
      <tr>
        <td class="">Newcomer</td>
        <td class="pt-3 float-right">
          <label class="inline-flex cursor-pointer">
            <input [(ngModel)]="editingPlayer.newcomer"
                   type="checkbox"
                   class="sr-only peer"
            >
            <div class="relative w-11 h-6 rounded-full peer bg-gray-700 border-gray-600 rtl:peer-checked:after:-translate-x-full
                        peer-focus:ring-0 peer-focus:outline-none peer-checked:after:border-white peer-checked:bg-blue-600 peer-checked:after:translate-x-full
                        after:absolute after:content-[''] after:h-5 after:w-5 after:top-[2px] after:start-[2px]
                        after:bg-white after:border-gray-300 after:border after:rounded-full after:transition-all"
            >
            </div>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
