<div class="my-8 flex flex-row justify-evenly noselect">
  <div *counter="let race of getMaxRace(this.racecards)"
       class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(this.activeRace, race)}}"
       (click)="activeRace = race"
  >
    Race {{race}}
  </div>
</div>

<table class="mx-auto table-fixed border-collapse border border-gray-700 text-center noselect">
  <thead class="text-xl">
  <th class="p-4 w-20 border border-gray-700">
    <i class="fa fa-magic"></i>
  </th>
  <th *counter="let order of maxOrder"
      class="w-20 border border-gray-700"
  >
    <div class="flex flex-row justify-center">
      <div class="w-10 h-10 pt-1 rounded-full
                  {{getPlacingBorderBackground(getStarter(order).jockey, this.activeRacecard)}}"
      >
        {{order}}
      </div>
    </div>
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let factor of ratingFactors">
    <td class="p-2 border border-gray-700 text-2xl font-mono cursor-help"
        tooltip="{{factor.factor.toUpperCase()}}"
        [hideDelay]="0"
    >
      {{factor.abbreviation}}
    </td>
    <td *counter="let order of maxOrder"
        class="border border-gray-700"
        [class.diagonal-line]="getStarter(order)?.scratched"
    >
      <div class="flex flex-row">
        <div class="w-3/5 text-center text-2xl"
             [class.text-red-600]="getRating(order, factor.factor)?.grade === 'A'"
             [class.text-green-600]="getRating(order, factor.factor)?.grade === 'B'"
             [class.invisible]="getRating(order, factor.factor)?.grade === 'X'"
        >
          {{getRating(order, factor.factor)?.grade}}
        </div>
        <div class="w-2/5 text-sm pt-2.5"
             [class.invisible]="getRating(order, factor.factor)?.score === 0"
        >
          {{getRating(order, factor.factor)?.score}}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div *ngFor="let starter of getStarters(this.activeRacecard)"
     class="mx-8 mt-6 pt-2 pb-2.5 text-center rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600 noselect"
>
  <div class="px-6 flex flex-row items-center">
    <div
      class="w-10 h-10 pt-1 text-xl rounded-full {{getPlacingBorderBackground(starter.jockey, this.activeRacecard)}}">
      {{starter.order}}
    </div>
    <div class="w-40 ml-4 mr-2 text-left">
      <div class="text-lg">
        <a target="_blank"
           tooltip="{{starter.horse}}"
           [href]="getHorseProfileUrl(starter.horse)"
           [hideDelay]="0"
        >
          {{getHorse(starter).nameCH}}
        </a>
      </div>
      <div class="text-sm">
        {{getHorse(starter).nameEN}}
      </div>
    </div>
    <div class="w-10 h-10 pt-1 text-xl border border-gray-700">
      {{starter.draw}}
    </div>
    <div class="w-12 mx-2 text-2xl font-mono">
      {{starter.jockey}}
    </div>
    <div class="w-12 mx-2 text-2xl font-mono">
      {{starter.trainer}}
    </div>
    <div class="w-36 mx-3 text-sm">
      {{getHorse(starter).ownerCH}}
    </div>
    <div class="w-12 ml-4">
      <img src="https://racing.hkjc.com/racing/content/Images/RaceColor/{{starter.horse}}.gif"
           alt="Silk"
           class="w-8"
      />
    </div>
    <div class="w-28">
      <div>
        <span [class.text-yellow-400]="getHorse(starter).age >= SENIOR_HORSE_AGE">
          {{getHorse(starter).age}}YO
        </span>
        ,
        <span [class.text-yellow-400]="!COMMON_HORSE_ORIGINS.includes(getHorse(starter).origin)">
          {{getHorse(starter).origin}}
        </span>
      </div>
      <div>
        {{getHorseStatistics(starter)}}
      </div>
    </div>
    <div class="w-20 text-red-600">
      <span class="text-3xl">
        {{getStarterWinPlaceOdds(starter, this.activeRacecard).win}}
      </span>
      <sup>W</sup>
    </div>
    <div class="w-20 text-blue-600">
      <span class="text-3xl">
        {{getStarterWinPlaceOdds(starter, this.activeRacecard).place}}
      </span>
      <sup>P</sup>
    </div>
    <div class="w-14 text-2xl cursor-pointer"
         (click)="toggleFavorite(starter)"
    >
      <span *ngIf="isFavorite(starter, this.activeRacecard)" class="text-yellow-400">
        <i class="fa fa-star"></i>
      </span>
      <span *ngIf="!isFavorite(starter, this.activeRacecard)">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
    <div *ngFor="let inv of getActiveStarterWQPInvestments(starter); let index = index"
         class="w-20 {{COLORS[index]}}"
    >
      <div>
        {{inv.percent}}
      </div>
      <div>
        {{inv.amount}}
      </div>
    </div>
  </div>
  <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
  <div class="px-2 my-1 flex flex-row">
    <div class="w-1/2 px-1">
      <div *ngIf="getPastHorseStarters(starter).length === 0"
           class="text-yellow-400 text-lg"
      >
        Debut Runner
      </div>
      <div *ngIf="getPastHorseStarters(starter).length > 0"
           class="grid grid-cols-4 gap-x-1.5 text-sm"
      >
        <div *ngFor="let ps of getPastHorseStarters(starter)"
             [class.line-through]="ps.placing === 0"
             [class.text-red-600]="ps.placing === 1"
             [class.text-green-600]="ps.placing === 2"
             [class.text-blue-600]="ps.placing === 3"
             [class.text-purple-600]="ps.placing === 4"
        >
          {{formatMeeting(ps.meeting)}}
          {{formatVenue(ps.venue)}}
          <span [class.text-yellow-400]="ps.placing > 4 && ps.jockey === starter.jockey">
            {{formatPerson(ps.jockey)}}
          </span>
          {{ps.winOdds}}
          <span *ngIf="ps.trainer !== starter.trainer"
                class="text-yellow-400"
          >
            {{formatPerson(ps.trainer)}}
          </span>
        </div>
      </div>
    </div>
    <div class="w-1/2 px-1">
      <div *ngIf="getPastCollaborationStarters(starter).length === 0"
           class="text-yellow-400 text-lg"
      >
        1st collaboration this season
      </div>
      <div *ngIf="getPastCollaborationStarters(starter).length > 0"
           class="grid grid-cols-7 gap-x-2 text-sm"
      >
        <div *ngFor="let ps of getPastCollaborationStarters(starter)"
             [class.line-through]="ps?.placing === 0"
             [class.text-red-600]="ps?.placing === 1"
             [class.text-green-600]="ps?.placing === 2"
             [class.text-blue-600]="ps?.placing === 3"
             [class.text-purple-600]="ps?.placing === 4"
        >
          {{ps?.winOdds === 0 ? '' : ps?.winOdds}}
          {{ps.horseNameCH}}
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
  <div class="px-2 my-1 flex flex-row">
    <div *ngFor="let sec of getPersonSections(starter); let index = index"
         class="w-2/5 px-2 {{index === 0 ? 'order-first' : 'order-last'}}"
    >
      <div class="text-center text-xl font-mono">
        {{sec.person}}
      </div>
      <div class="flex flex-row justify-center gap-x-6 text-lg font-mono">
        <div class="text-red-600">{{sec.wins}}W</div>
        <div class="text-green-600">{{sec.seconds}}Q</div>
        <div class="text-blue-600">{{sec.thirds}}P</div>
        <div class="text-purple-600">{{sec.fourths}}F</div>
      </div>
      <div class="grid grid-cols-4 text-sm">
        <div *ngFor="let ps of sec.starters"
             [class.line-through]="ps.placing === 0"
             [class.text-red-600]="ps.placing === 1"
             [class.text-green-600]="ps.placing === 2"
             [class.text-blue-600]="ps.placing === 3"
             [class.text-purple-600]="ps.placing === 4"
        >
          {{ps.winOdds === 0 ? '' : ps.winOdds}}
          {{ps.horse}}
          {{ps.partner}}
        </div>
      </div>
    </div>
    <div class="w-1/5 px-1 font-mono">
      <div class="text-center text-xl">
        J/T
      </div>
      <div class="flex flex-row justify-center gap-x-5 text-lg">
        <div class="text-red-600">{{getCollaboration(starter).wins}}W</div>
        <div class="text-green-600">{{getCollaboration(starter).seconds}}Q</div>
        <div class="text-blue-600">{{getCollaboration(starter).thirds}}P</div>
        <div class="text-purple-600">{{getCollaboration(starter).fourths}}F</div>
        <div class="text-yellow-400">{{getCollaboration(starter).total}}X</div>
      </div>
      <div class="px-2 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
    </div>
  </div>
</div>
