<div class="m-10 px-10 flex justify-between noselect">
  <div class="px-8 py-4 text-xl bg-gray-800 shadow-xl rounded-full border border-gray-900 hover:border-gray-600">
    {{meetingSummary}}
  </div>
  <div class="pt-3">
    <span class="pr-5 text-2xl">
      NEXT RACE&#58;
    </span>
    <span class="text-3xl text-red-600">
        {{remainingSeconds}} sec
    </span>
  </div>
</div>

<table class="mx-auto table-fixed border-collapse border border-gray-500 text-center noselect">
  <thead>
  <th class="w-20 border border-gray-600"
      [class.border-b-red-900]="nextRace === 1"
  >
    <i class="fa fa-dollar fa-lg"></i>
  </th>
  <th *ngFor="let jockey of jockeys"
      class="w-20 border border-gray-600"
      [class.border-r-red-900]="isBoundaryJockey(jockey)"
      [class.border-b-red-900]="nextRace === 1"
  >
    <div class="">
      {{getMeetingEarning(jockey)}}
    </div>
    <div class="">
      {{jockey}}
    </div>
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let race of racecards">
    <td class="border border-gray-700"
        [class.text-yellow-400]="isSpecialRace(race)"
        [class.border-b-red-900]="race.race === lastRace"
    >
      <div class="">
        {{race.race}}
        {{race.grade[0]}}{{race.grade.slice(-1)}}
      </div>
      <div class="">
        {{race.distance}}
      </div>
    </td>
    <td *ngFor="let jockey of jockeys"
        class="border border-gray-700 text-sm hover:bg-gray-800"
        [class.border-r-red-900]="isBoundaryJockey(jockey)"
        [class.border-b-red-900]="race.race === lastRace"
        [class.border-b-gray-900]="hideBottomBorder(jockey, race)"
        [class.border-r-gray-900]="hideRightBorder(jockey, race)"
        [class.text-red-600]=""
        [class.text-green-600]=""
        [class.text-blue-600]=""
        [class.text-purple-600]=""
    >
      <div *ngIf="rideThisRace(jockey, race)"
           class="flex flex-col"
      >
        <div class="flex flex-row justify-between">
          <div class="w-5 h-5 rounded-full border border-gray-700">
            {{getStarter(jockey, race).order}}
          </div>
          <div>
            <a [href]="getHorseProfileUrl(getStarter(jockey, race).horse)"
               target="_blank"
            >
              {{getStarter(jockey, race).horse[0]}}
            </a>
          </div>
          <div class="w-5 h-5 border border-gray-700 cursor-pointer"
               [class.border-yellow-400]="activeDraw === getStarter(jockey, race).draw"
               (click)="setActiveDraw(getStarter(jockey, race).draw)"
          >
            {{getStarter(jockey, race).draw}}
          </div>
        </div>
        <div class="flex flex-row justify-evenly">
          <div class="cursor-pointer"
               [class.font-bold]="activeTrainer === getTrainer(jockey, race)"
               [class.text-yellow-400]="activeTrainer === getTrainer(jockey, race)"
               (click)="setActiveTrainer(getTrainer(jockey, race))"
          >
            {{getTrainer(jockey, race)}}
          </div>
          <div *ngIf="isFavoured(jockey, race)"
               class="text-yellow-400"
          >
            &#937;
          </div>
        </div>
        <div class="flex flex-row justify-around"
             [class.font-bold]="race.race == nextRace"
        >
          <div class=""
               [class.text-red-600]="race.race == nextRace"
          >
            {{getWinPlaceOdds(jockey, race).win}}
          </div>
          <div class=""
               [class.text-blue-600]="race.race == nextRace"
          >
            {{getWinPlaceOdds(jockey, race).place}}
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="my-10">
  <app-meeting></app-meeting>
</div>
