<app-toast-websocket></app-toast-websocket>

<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="text-center">
  <div class="my-8 flex flex-row justify-evenly">
    <div *counter="let race of getMaxRace(this.racecards)"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getRaceBadgeStyle(this.activeRace, race)}}"
         (click)="clickRaceBadge(race)"
    >
      Race {{ race }}
    </div>
  </div>

  <table class="mx-auto table-fixed border-collapse border border-gray-700">
    <thead>
      <th class="px-2 py-4 w-32 border border-gray-700 text-2xl">
        <div class="flex flex-row justify-around">
          <div class="cursor-pointer hover:text-yellow-400"
               tooltip="{{isEditMode ? 'Save Selection' : 'Edit Selection'}}"
               [hideDelay]="0"
               (click)="clickEditButton()"
          >
            <i *ngIf="isEditMode" class="fa fa-save"></i>
            <i *ngIf="!isEditMode" class="fa fa-edit"></i>
          </div>
          <div class="cursor-pointer hover:text-yellow-400"
               [class.invisible]="isEditMode"
               tooltip="{{isEditMode ? '' : 'Reset Selection'}}"
               [hideDelay]="0"
               (click)="resetSelections()"
          >
            <i class="fa fa-trash"></i>
          </div>
          <div class="cursor-pointer hover:text-yellow-400"
               tooltip="Reset Favorite"
               [hideDelay]="0"
               (click)="resetFavorites()"
          >
            <i class="fa fa-star-half-empty"></i>
          </div>
        </div>
      </th>
      <th *ngFor="let starter of startersSortedByChance"
          class="w-20 border border-gray-700 text-xl"
      >
        <div class="flex flex-row justify-center">
          <div class="w-10 h-10 pt-1 rounded-full {{getPlacingBorderBackground(starter)}}">
            {{ starter.order }}
          </div>
        </div>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let pm of PLACING_MAPS; let index = index">
        <td class="p-2 border border-gray-700 text-2xl font-mono {{pm.color}}">
          {{ pm.placing }}
        </td>
        <td *ngFor="let starter of startersSortedByChance"
            class="p-2 border border-gray-700"
        >
          <div class="{{getSelectionCellColor(starter, index + 1)}}"
               [class.text-yellow-400]="isSelection(starter, index + 1)"
          >
            <span [class.cursor-pointer]="isEditMode"
                  (click)="toggleSelection(starter, index + 1)"
            >
              <i class="fa fa-lg fa-check"></i>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="p-2 border border-gray-700 text-xl font-mono">
          Engine
        </td>
        <td *ngFor="let starter of startersSortedByChance"
            class="border border-gray-700 text-lg"
        >
          {{ starter.chance | percent:'1.1-1' }}
        </td>
      </tr>
      <tr>
        <td class="p-2 border border-gray-700 text-xl font-mono">
          Public
        </td>
        <td *ngFor="let starter of startersSortedByChance"
            class="border border-gray-700 text-lg"
        >
          <div *ngIf="getStarterInvestments(starter).length > 0">
            {{ getStarterInvestments(starter)[0].percent }}
          </div>
        </td>
      </tr>
      <tr>
        <td class="p-2 border border-gray-700 text-xl font-mono">
          Banker
        </td>
        <td *ngFor="let starter of startersSortedByChance"
            class="border border-gray-700 text-lg text-yellow-400"
        >
          <span *ngIf="isPublicUnderEstimated(starter)">
            <i class="fa fa-diamond"></i>
          </span>
          <span *ngIf="isEngineUnderEstimated(starter)">
            <i class="fa fa-warning"></i>
          </span>
        </td>
      </tr>
      <tr>
        <td class="p-2 border border-gray-700 text-xl font-mono">
          Favorite
        </td>
        <td *ngFor="let starter of startersSortedByChance"
            class="border border-gray-700 text-xl cursor-pointer"
            (click)="toggleFavorite(starter)"
        >
          <span *ngIf="isFavorite(starter)" class="text-yellow-400">
            <i class="fa fa-star"></i>
          </span>
          <span *ngIf="!isFavorite(starter)">
            <i class="fa fa-star-o"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngFor="let starter of getStarters(this.activeRacecard)"
       class="m-8 pt-2 pb-2.5 rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600"
  >
    <div class="px-6 flex flex-row items-center">
      <div class="w-10 h-10 pt-1 text-xl rounded-full {{getPlacingBorderBackground(starter)}}">
        {{ starter.order }}
      </div>
      <div class="w-40 ml-4 mr-2 text-left">
        <div class="text-lg">
          <a target="_blank"
             tooltip="{{starter.horse}}"
             [href]="toHorseProfileUrl(starter.horse)"
             [hideDelay]="0"
          >
            {{ getHorse(starter).nameCH }}
          </a>
        </div>
        <div class="text-sm">
          {{ getHorse(starter).nameEN }}
        </div>
      </div>
      <div class="w-10 h-10 pt-1 text-xl border border-gray-700">
        {{ starter.draw }}
      </div>
      <div class="w-12 mx-2 text-2xl font-mono">
        {{ starter.jockey }}
      </div>
      <div class="w-12 mx-2 text-2xl font-mono">
        {{ starter.trainer }}
      </div>
      <div class="w-36 mx-3 text-sm">
        {{ getHorse(starter).ownerCH }}
      </div>
      <div class="w-12 ml-4">
        <img src="https://api.racing.scmp.com/StatImg/Photo/JocColor/svg/{{starter.horse}}.svg"
             alt="Silk"
             class="w-8"
        />
      </div>
      <div class="w-28">
        <div>
          <span [class.text-yellow-400]="getHorse(starter).age >= SENIOR_HORSE_AGE">
            {{ getHorse(starter).age }}YO
          </span>
          ,
          <span [class.text-yellow-400]="!COMMON_HORSE_ORIGINS.includes(getHorse(starter).origin)">
            {{ getHorse(starter).origin }}
          </span>
        </div>
        <div>
          {{ getHorseStats(starter) }}
        </div>
      </div>
      <div class="w-20 text-red-600">
        <span class="text-3xl">
          {{ getStarterWinPlaceOdds(starter, this.activeRacecard).win | number: '1.0-1' }}
        </span>
        <sup>W</sup>
      </div>
      <div class="w-20 text-blue-600">
        <span class="text-3xl">
          {{ getStarterWinPlaceOdds(starter, this.activeRacecard).place | number: '1.0-1' }}
        </span>
        <sup>P</sup>
      </div>
      <div class="w-14 text-2xl cursor-pointer"
           (click)="toggleFavorite(starter)"
      >
        <span *ngIf="isFavorite(starter)" class="text-yellow-400">
          <i class="fa fa-star"></i>
        </span>
        <span *ngIf="!isFavorite(starter)">
          <i class="fa fa-star-o"></i>
        </span>
      </div>
      <div *ngFor="let inv of getStarterInvestments(starter); let index = index"
           class="w-20 {{COLORS[index]}}"
      >
        <div>
          {{ inv.percent }}
        </div>
        <div>
          {{ inv.amount }}
        </div>
      </div>
    </div>

    <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>

    <div class="px-2 my-1 flex flex-row">
      <div class="w-1/2 px-1">
        <div *ngIf="getPastHorseStarters(starter).length === 0"
             class="text-yellow-400 text-lg"
        >
          Debut Runner
        </div>
        <div *ngIf="getPastHorseStarters(starter).length > 0"
             class="grid grid-cols-4 text-sm"
        >
          <div *ngFor="let ps of getPastHorseStarters(starter)"
               class="{{(ps?.placing || 0 >= 1) && (ps?.placing || 0 <= 4) ? COLORS[ps.placing -1] : ''}}"
               [class.line-through]="!ps?.placing || ps?.placing === 0"
          >
            {{ formatMeeting(ps.meeting) }}
            {{ formatVenue(ps.venue) }}
            <span [class.text-yellow-400]="ps.placing > 4 && ps.jockey === starter.jockey">
              {{ formatPlayer(ps.jockey) }}
            </span>
            {{ ps.winOdds | number: '1.0-1' }}
            <span *ngIf="ps.trainer !== starter.trainer"
                  class="text-yellow-400"
            >
              {{ formatPlayer(ps.trainer) }}
            </span>
          </div>
        </div>
      </div>
      <div class="w-1/2 px-1">
        <div *ngIf="getPastCollaborationStarters(starter).length === 0"
             class="text-yellow-400 text-lg"
        >
          Debut Collaboration
        </div>
        <div *ngIf="getPastCollaborationStarters(starter).length > 0"
             class="grid grid-cols-5 text-sm"
        >
          <div *ngFor="let ps of getPastCollaborationStarters(starter)"
               class="{{(ps?.placing || 0 >= 1) && (ps?.placing || 0 <= 4) ? COLORS[ps.placing -1] : ''}}"
               [class.line-through]="ps.scratched || !ps?.placing || ps?.placing === 0"
          >
            <span *ngIf="(ps?.winOdds || 0) > 0">
              {{ ps?.winOdds | number: '1.0-1' }}
            </span>
            <span [class.text-yellow-400]="ps.placing > 4 && ps.horse === starter.horse">
              {{ ps.horseNameCH }}
            </span>
            {{ formatMeeting(ps.meeting) }}
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>

    <div class="px-2 my-1 flex flex-row">
      <div *ngFor="let player of [starter.jockey, starter.trainer]; let index = index"
           class="w-2/5 px-2 {{index === 0 ? 'order-first' : 'order-last'}}"
      >
        <div class="text-center text-xl font-mono">
          {{ player }}
        </div>
        <div class="grid grid-cols-4 text-sm">
          <div *ngFor="let ps of getEarningStarters(player)"
               class="{{(ps?.placing || 0 >= 1) && (ps?.placing || 0 <= 4) ? COLORS[ps.placing -1] : ''}}"
               [class.line-through]="ps.scratched || !ps?.placing || ps?.placing === 0"
          >
            {{ (ps?.winOdds || 0) > 0 ? (ps?.winOdds | number: '1.0-1') : '' }}
            {{ ps.horseNameCH }}
            {{ ps.partner }}
          </div>
        </div>
      </div>
      <div class="w-1/5 px-1 font-mono">
        <div class="text-center text-xl">
          J/T
        </div>
        <div class="flex flex-row justify-center gap-x-5 text-lg">
          <div *ngFor="let stat of getCollaborationStats(starter); let index = index"
               class="{{ index < 4 ? PLACING_MAPS[index].color : '' }}"
          >
            {{ stat }}{{ index < 4 ? PLACING_MAPS[index].placing : 'X' }}
          </div>
        </div>
        <div class="px-2 my-1 h-0.5 bg-gradient-to-r from-gray-900 via-gray-400 to-gray-900"></div>
      </div>
    </div>
  </div>
</div>
