<div class="mx-12 text-lg">
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let session of sessions"
         class="pt-2 pb-3 px-6 shadow-md transition shadow-gray-600 hover:shadow-gray-400"
    >
      <div class="flex flex-row justify-between items-center">
        <div class="font-bold"
             [class.text-red-600]="session.stakeLevel === 'Low Roller'"
             [class.text-green-600]="session.stakeLevel === 'Mid Roller'"
             [class.text-blue-600]="session.stakeLevel === 'High Roller'"
        >
          {{ session.stakeLevel }}
        </div>
        <div class="italic">
          {{ session.range }}
        </div>
        <div class="px-4 py-1 rounded-xl border border-gray-600 cursor-pointer
                    transition hover:border-yellow-400 hover:text-yellow-400"
        >
          Register
        </div>
      </div>

      <table class="mx-auto mt-2 border-collapse text-left">
        <tr>
          <td class="pr-6">
            Status:
          </td>
          <td class="">
            {{ session.status }}
          </td>
        </tr>
        <tr>
          <td class="pr-6">
            Entry Fee:
          </td>
          <td class="text-yellow-400">
            {{ session.entryFee }} Golds
          </td>
        </tr>
        <tr>
          <td class="pr-6">
            Participants:
          </td>
          <td class="">
            {{ session.currentParticipants }}
            /
            {{ session.minimumParticipants }}
          </td>
        </tr>
        <tr>
          <td class="pr-6">
            Race:
          </td>
          <td class="">
            <span *ngIf="session.races.length < 7">
              {{ session.races.join(', ') }}
            </span>
            <span *ngIf="session.races.length >= 7">
              All
            </span>
          </td>
        </tr>
        <tr>
          <td class="pr-6">
            Cutoff:
          </td>
          <td class="">
            {{ getEntryCutoffRemainingTime(session.firstRacePostTime) }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
