<div class="my-6 text-4xl text-green-600 text-center noselect">
  Racing Fixture 22/23
  <img src="assets/fixture-22-23.png"
       alt="Racing Fixture 22/23"
       class="block mx-auto pt-6 w-2/3"
  />
</div>

<div class="flex flex-row justify-between noselect">
  <div *ngFor="let persons of personsList; let index = index"
       class="text-center"
  >
    <div class="my-3 text-4xl text-green-600">
      {{index === 0 ? 'Trainers' : 'Jockeys'}}
    </div>
    <table class="mx-auto table-fixed">
      <thead>
      <th *ngFor="let attr of attributes"
          class="w-32 py-3 text-2xl capitalize"
      >
        {{attr}}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons"
          class="text-xl border border-gray-900 hover:bg-gray-800"
          [class.border-b-red-900]="isNationalityBoundaryPerson(person)"
      >
        <td class="italic">
          {{person.code}}
          <sup *ngIf="NEW_PEOPLE.includes(person)">&#43;</sup>
        </td>
        <td>{{person.lastName}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.nickname}}</td>
        <td>{{person.nationality}}</td>
        <td [class.text-red-600]="isHighlightWinners(getWinners(person))">
          {{getWinners(person)}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
