<table class="mx-auto table-fixed border-collapse text-center noselect">
  <tr class="text-lg">
    <td class="w-14 border border-gray-700">
      <span class="hover:text-yellow-400"
            [class.invisible]="!isRefreshButtonEnable"
            (click)="refresh()"
      >
        <i class="fa fa-refresh"></i>
      </span>
    </td>
    <td *ngFor="let overview of overviews"
        colspan="6"
        class="w-52 border border-gray-700"
    >
      <a class="hover:underline"
         target="_blank"
         href="{{overview.link}}"
      >
        {{overview.title}}
      </a>
    </td>
  </tr>
  <tr>
    <td class="border border-gray-700">
      <span [class.visible]="!isRefreshButtonEnable"
            [class.invisible]="isRefreshButtonEnable"
      >
        <i class="fa fa-clock-o"></i>
      </span>
    </td>
    <ng-container *ngFor="let meeting of meetings">
      <td *ngFor="let placing of placings; let last = last"
          colspan="1"
          class="border border-b-gray-700 border-gray-900 {{placing.color}}"
          [class.border-r-gray-700]="last"
      >
        {{placing.placing}}
      </td>
    </ng-container>
  </tr>
  <tr *ngFor="let person of persons">
    <td class="border border-gray-700"
        [class.border-b-gray-400]="isBoundaryPerson(person)"
        [class.border-b-yellow-400]="isJTBoundaryPerson(person)"
        [class.border-b-2]="isJTBoundaryPerson(person)"
    >
      <a class="hover:underline"
         target="_blank"
         [href]="getPastRecordUrl(person)"
      >
        {{person}}
      </a>
    </td>
    <ng-container *ngFor="let meeting of meetings">
      <td *ngFor="let placing of placings; let last = last"
          colspan="1"
          class="border border-gray-900 border-b-gray-700 {{placing.color}}"
          [class.border-r-gray-700]="last"
          [class.border-b-gray-400]="isBoundaryPerson(person)"
          [class.border-b-yellow-400]="isJTBoundaryPerson(person)"
          [class.border-b-2]="isJTBoundaryPerson(person)"
          [class.text-yellow-400]="'X' == getValue(person, meeting.meeting, placing.key)"
      >
        {{getValue(person, meeting.meeting, placing.key)}}
      </td>
    </ng-container>
  </tr>
</table>
