<app-toast-websocket></app-toast-websocket>

<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="mt-4 flex flex-row justify-evenly items-center">
    <div *ngIf="summaryLines.length > 0"
         class="px-6 py-4 text-xl rounded-2xl shadow-md transition shadow-sky-700/50 hover:shadow-sky-600"
    >
      {{ summaryLines[0] }}
      <br>
      {{ summaryLines[1] }}
    </div>
    <div class="">
      <ol class="flex items-center">
        <li *ngFor="let card of racecards; let last = last"
            class="relative"
        >
          <div class="-ml-1"
               [class.mr-8]="!last"
          >
            R{{ formatRace(card.race) }}
          </div>
          <div class="flex items-center my-1">
            <div
              class="z-10 flex items-center justify-center w-3 h-3 rounded-full shrink-0 {{ isPastPostTime(card) ? 'bg-yellow-400' : 'bg-gray-300' }}">
            </div>
            <div *ngIf="!last"
                 class="flex w-full h-1 bg-gray-700"
            >
              <div class="h-1 bg-yellow-400"
                   [style.width]="getRaceProgress(card)"
              >
              </div>
            </div>
          </div>
          <div class="-ml-3.5"
               [class.mr-8]="!last"
          >
            {{ formatRaceTimeWithoutSpace(card.time) }}
          </div>
        </li>
      </ol>
    </div>
    <div class="w-44 pt-2 text-center">
      <div class="text-2xl">
        NEXT RACE
      </div>
      <div class="pt-2 text-4xl text-red-600">
        {{ remainingTime }}
      </div>
    </div>
  </div>

  <table class="mt-4 mx-auto table-fixed border-collapse border border-gray-500 text-center">
    <thead>
      <th class="w-20 border border-gray-600"
          [class.border-b-red-900]="nextRace === 1"
      >
        <i class="fa fa-dollar fa-lg"></i>
      </th>
      <th *ngFor="let jockey of jockeys"
          class="w-20 border border-gray-600"
          [class.border-r-red-900]="isBoundaryPlayer(jockey, true)"
          [class.border-b-red-900]="nextRace === 1"
      >
        <div [class.text-yellow-400]="getMeetingEarning(jockey) >= EARNING_THRESHOLD">
          {{ getMeetingEarning(jockey) === 0 ? '-' : getMeetingEarning(jockey) }}
        </div>
        <div>
          {{ jockey }}
        </div>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let race of racecards">
        <td class="border border-gray-700"
            [class.text-yellow-400]="isSpecialRace(race)"
            [class.border-b-red-900]="race.race === lastRace"
            tooltip="{{getRaceTooltip(race)}}"
            [hideDelay]="0"
        >
          <div class="hover:underline">
            <a [href]="race.resultUrl" target="_blank">
              {{ formatRace(race.race) }}
              {{ formatRaceGrade(race.grade) }}
            </a>
          </div>
          <div class="hover:underline">
            <a [href]="race.replayUrl" target="_blank">
              {{ race.distance }}
            </a>
          </div>
        </td>
        <td *ngFor="let jockey of jockeys"
            class="border border-gray-700 hover:bg-gray-800 text-sm {{toPlacingColor(getStarter(jockey, race)?.placing)}}"
            [class.border-r-red-900]="isBoundaryPlayer(jockey, true)"
            [class.border-b-red-900]="race.race === lastRace"
            [class.border-b-gray-900]="hideBottomBorder(jockey, race)"
            [class.border-r-gray-900]="hideRightBorder(jockey, race)"
            [class.bg-gray-700]="activeTrainer === getTrainer(jockey, race) && activeTrainerAnimationOn"
        >
          <div *ngIf="rideThisRace(jockey, race)"
               class="flex flex-col"
               tooltip="{{getStarterTooltip(jockey, race)}}"
               [hideDelay]="0"
          >
            <div class="flex flex-row justify-between">
              <div class="w-5 h-5 rounded-full border cursor-pointer"
                   [class.border-gray-700]="!isPersonalFavorite(getStarter(jockey, race), race.race)"
                   [class.border-yellow-400]="isPersonalFavorite(getStarter(jockey, race), race.race)"
                   [class.text-yellow-400]="isPersonalFavorite(getStarter(jockey, race), race.race)"
                   (click)="toggleFavorite(getStarter(jockey, race), race)"
              >
                {{ getStarter(jockey, race).order }}
              </div>
              <div>
                <a [href]="toHorseProfileUrl(getStarter(jockey, race).horse)"
                   target="_blank"
                >
                  {{ getStarter(jockey, race).horse[0] }}
                </a>
              </div>
              <div class="w-5 h-5 border cursor-pointer"
                   [class.border-gray-700]="activeDraw !== getStarter(jockey, race).draw"
                   [class.border-yellow-400]="activeDraw === getStarter(jockey, race).draw"
                   [class.text-yellow-400]="activeDraw === getStarter(jockey, race).draw"
                   (click)="setActiveDraw(getStarter(jockey, race).draw)"
              >
                {{ getStarter(jockey, race).draw }}
              </div>
            </div>
            <div class="flex flex-row justify-evenly">
              <div *ngIf="isTrainerFinalRace(jockey, race)"
                   class="text-yellow-400"
              >
                &#952;
              </div>
              <div class="cursor-pointer"
                   [class.italic]="isTrainerHasNoStarterNextRace(jockey, race)"
                   [class.underline]="isTrainerHasNoStarterNextRace(jockey, race)"
                   [class.font-bold]="activeTrainer === getTrainer(jockey, race)"
                   [class.text-yellow-400]="activeTrainer === getTrainer(jockey, race)"
                   (click)="toggleActiveTrainer(getTrainer(jockey, race))"
              >
                {{ getTrainer(jockey, race) }}
              </div>
              <div *ngIf="isPublicFavorite(jockey, race)"
                   class="text-yellow-400"
              >
                &#937;
              </div>
            </div>
            <div class="flex flex-row justify-around"
                 [class.font-bold]="race.race == nextRace"
            >
              <div [class.text-red-600]="(race.race == nextRace) || (isUpcomingRacePublicFavorite(jockey, race))">
                {{ getWinPlaceOdds(jockey, race).win == 0 ? '-' : getWinPlaceOdds(jockey, race).win | number: '1.0-1' }}
              </div>
              <div [class.text-blue-600]="race.race == nextRace">
                {{ getWinPlaceOdds(jockey, race).place == 0 ? '-' : getWinPlaceOdds(jockey, race).place | number: '1.0-1' }}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="maxChallengerOrder > 0"
         class="mt-2 mx-auto table-fixed border-collapse border border-gray-700 text-center"
  >
    <thead>
      <th class="w-28 border border-gray-600 border-b-red-900">
      </th>
      <th *counter="let order of maxChallengerOrder"
          class="w-28 border border-gray-600 border-b-red-900"
      >
        {{ order }}
      </th>
      <th class="w-28 border border-gray-600 border-b-red-900">
        X
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let personType of ['Jockey', 'Jockey', 'Jockey', 'Trainer', 'Trainer', 'Trainer']; let index = index"
          class="hover:bg-gray-800"
      >
        <td class="border border-gray-700"
            [class.border-b-red-900]="index == 2"
        >
          <div *ngIf="index % 3 === 0">
            {{ personType === 'Jockey' ? 'JKC' : 'TNC' }}
          </div>
        </td>
        <td *counter="let order of maxChallengerOrder"
            class="border border-gray-700"
            [class.border-b-red-900]="index == 2"
        >
          <div *ngIf="index % 3 === 0"
               [class.text-yellow-400]="isTopChallengePoint(personType, order)"
          >
            {{ getChallengeOdds(personType, order).challenger }}
            <span *ngIf="getChallengeOdds(personType, order).challenger.length > 0">
              <span *ngIf="getChallengeOdds(personType, order).points > 0">
                ({{ getChallengeOdds(personType, order).points }})
              </span>
            </span>
          </div>
          <div *ngIf="index % 3 === 1">
            {{ formatChallengeOdds(getChallengeOdds(personType, order).odds) }}
          </div>
          <div *ngIf="index % 3 === 2">
            <span *ngIf="getChallengerInvestment(getChallengeOdds(personType, order).challenger) > 0">
              {{ getChallengerInvestment(getChallengeOdds(personType, order).challenger) | percent }}
            </span>
          </div>
        </td>
        <td class="border border-gray-700"
            [class.border-b-red-900]="index == 2"
        >
          <div *ngIf="index % 3 === 0">
            Others
          </div>
          <div *ngIf="index % 3 === 1">
            {{ formatChallengeOdds(getOutsiderChallengeOdds(personType).odds) }}
          </div>
          <div *ngIf="index % 3 === 2">
            {{ getOutsiderChallengerInvestment(personType) | percent }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="mt-2 mx-auto table-fixed border-collapse border border-gray-700 text-center">
    <thead>
      <th class="w-16 border border-gray-600">
        Race
      </th>
      <th class="w-20 border border-gray-600 border-r-red-900">
        Starters
      </th>
      <th *ngFor="let pool of investmentPoolNames"
          class="w-28 border border-gray-600"
          [class.border-r-red-900]="BOUNDARY_INVESTMENT_POOLS.includes(pool)"
      >
        {{ pool }}
      </th>
    </thead>
    <tbody>
      <tr *counter="let race of maxRace"
          class="hover:bg-gray-800"
      >
        <td class="border border-gray-700">
          {{ formatRace(race) }}
        </td>
        <td class="px-1 border border-gray-700 border-r-red-900">
          {{ getStarterCount(race) }}
        </td>
        <td *ngFor="let pool of investmentPoolNames"
            class="border border-gray-700"
            [class.border-r-red-900]="BOUNDARY_INVESTMENT_POOLS.includes(pool)"
        >
          <span *ngIf="getInvestmentPoolAmount(race, pool) !== '0.00'">
            ${{ getInvestmentPoolAmount(race, pool) }}M
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="mt-2 mx-auto table-fixed border-collapse border border-gray-700 text-center">
    <thead>
      <th class="w-16 border border-gray-600">
        Race
      </th>
      <th class="w-36 border border-gray-600 border-r-red-900">
        Top 4
      </th>
      <th *ngFor="let pool of dividendRacePools"
          class="w-20 border border-gray-600"
          [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
      >
        {{ pool.name }}
      </th>
    </thead>
    <tbody>
      <tr *counter="let race of maxRace"
          class="hover:bg-gray-800"
      >
        <td class="border border-gray-700"
            [class.border-b-red-900]="race === maxRace"
        >
          {{ formatRace(race) }}
        </td>
        <td class="px-1 border border-gray-700 border-r-red-900"
            [class.border-b-red-900]="race === maxRace"
        >
          <div class="grid grid-cols-4">
            <div *ngFor="let order of getDividendTop4(race)">
              {{ order }}
            </div>
          </div>
        </td>
        <td *ngFor="let pool of dividendRacePools"
            class="border border-gray-700"
            [class.border-b-red-900]="race === maxRace"
            [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
            [class.text-yellow-400]="getDividendOdds(race, pool.name) >= pool.threshold"
        >
          <span *ngIf="getDividendOdds(race, pool.name) > 0">
            {{ getDividendOdds(race, pool.name) }}
          </span>
        </td>
      </tr>

      <tr>
        <th class="border border-gray-700"></th>
        <th class="border border-gray-700 border-r-red-900">
          Cross Race
        </th>
        <th *ngFor="let pool of dividendCrossRacePools"
            class="border border-gray-700"
            [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
        >
          {{ pool.name }}
        </th>
        <th class="border border-gray-700"
            colspan="8"
        >
          Today's Total Turnover
        </th>
      </tr>
      <tr *counter="let row of crossRacePoolDividendRaces.length"
          class="hover:bg-gray-800"
      >
        <td class="border border-gray-700">
          {{ formatRace(getCrossRacePoolDividendRaces(row)) }}
        </td>
        <td class="border border-gray-700 border-r-red-900"></td>
        <td *ngFor="let pool of dividendCrossRacePools"
            class="border border-gray-700"
            [class.border-r-red-900]="BOUNDARY_POOLS.includes(pool.name)"
            [class.text-yellow-400]="getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) >= pool.threshold"
        >
          <span *ngIf="getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) > 0">
            {{ getDividendOdds(getCrossRacePoolDividendRaces(row), pool.name) | number }}
          </span>
        </td>
        <td *ngIf="row === 1"
            class="border border-gray-700 border-l-red-900 text-4xl"
            colspan="8"
            [rowSpan]="crossRacePoolDividendRaces.length"
        >
          {{ todayTurnover | currency:'USD':'symbol':'1.0-0' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
