<div class="mx-10 my-6 text-center text-2xl flex flex-row justify-between noselect">
  <div *ngFor="let section of sections"
       class="w-full mx-6 py-4 rounded-full {{getSectionStyle(section)}}"
       (click)="setActiveSection(section)"
  >
    {{section}}
  </div>
</div>

<div *ngIf="activeSection === sections[0]"
     class="my-6 text-center noselect"
>
  <table class="mx-auto table-fixed border-collapse">
    <tr class="text-lg">
      <td class="w-14 border border-gray-700">
        <span class="hover:text-yellow-400"
              [class.invisible]="!isRefreshButtonEnable"
              (click)="refresh()"
        >
          <i class="fa fa-refresh"></i>
        </span>
      </td>
      <td class="w-14 border border-gray-700">
        <i class="fa fa-medkit"></i>
      </td>
      <td *ngFor="let overview of overviews"
          colspan="6"
          class="border border-gray-700"
      >
        <a class="hover:underline"
           target="_blank"
           href="{{overview.link}}"
        >
          {{overview.title}}
        </a>
      </td>
    </tr>
    <tr>
      <td class="border border-gray-700">
        <span [class.visible]="!isRefreshButtonEnable"
              [class.invisible]="isRefreshButtonEnable"
        >
          <i class="fa fa-clock-o"></i>
        </span>
      </td>
      <td class="border border-gray-700">
      </td>
      <ng-container *ngFor="let meeting of windowMeetings">
        <td *ngFor="let placing of placings; let last = last"
            colspan="1"
            class="border border-b-gray-700 border-gray-900 {{placing.color}} {{placing.width}}"
            [class.border-r-gray-700]="last"
        >
          {{placing.placing}}
        </td>
      </ng-container>
    </tr>
    <tr *ngFor="let person of persons">
      <td class="border border-gray-700"
          [class.border-b-gray-400]="isBoundaryPerson(person)"
          [class.border-b-yellow-400]="isJTBoundaryPerson(person)"
          [class.border-b-2]="isJTBoundaryPerson(person)"
      >
        <a class="hover:underline"
           target="_blank"
           [href]="getPastRecordUrl(person)"
        >
          {{person}}
        </a>
      </td>
      <td class="border border-gray-700"
          [class.border-b-gray-400]="isBoundaryPerson(person)"
          [class.border-b-yellow-400]="isJTBoundaryPerson(person)"
          [class.border-b-2]="isJTBoundaryPerson(person)"
      >
        <span *ngIf="getNoWinnerDays(person) === 0">
          <i class="fa fa-check"></i>
        </span>
        <span *ngIf="getNoWinnerDays(person) === 99">
          <i class="fa fa-times"></i>
        </span>
        <span *ngIf="getNoWinnerDays(person) > 0 && getNoWinnerDays(person) < 99"
              class="{{getNoWinnerDays(person) >= 4 ? 'text-red-600 font-bold' : ''}}"
        >
          {{getNoWinnerDays(person)}}
        </span>
      </td>
      <ng-container *ngFor="let meeting of windowMeetings">
        <td *ngFor="let placing of placings; let last = last"
            colspan="1"
            class="border border-gray-900 border-b-gray-700 {{placing.color}}"
            [class.border-r-gray-700]="last"
            [class.border-b-gray-400]="isBoundaryPerson(person)"
            [class.border-b-yellow-400]="isJTBoundaryPerson(person)"
            [class.border-b-2]="isJTBoundaryPerson(person)"
            [class.text-yellow-400]="'X' == getCellValue(person, meeting.meeting, placing.key)"
        >
          {{getCellValue(person, meeting.meeting, placing.key)}}
        </td>
      </ng-container>
    </tr>
  </table>
</div>

<div *ngIf="activeSection === sections[1]"
     class="m-6 noselect"
>
  <div *ngFor="let meeting of meetings"
       class="my-4 flex flex-row justify-around items-center"
  >
    <div class="px-5 py-3 text-2xl rounded-2xl border"
         [class.border-gray-800]="activeVenue !== meeting.venue"
         [class.border-yellow-400]="activeVenue == meeting.venue"
         (click)="setActiveVenue(meeting.venue)"
    >
      <div class="mb-2 text-center">
        {{meeting.meeting}}
        {{meeting.venue}}
        {{meeting.races}}R
        ${{meeting.turnover}}
      </div>
      <div class="flex flex-row justify-evenly items-center">
        <div class="">
          ${{getAverageTurnoverPerRace(meeting)}}/R
        </div>
        <div class="w-5 h-5 rounded-full {{getTurnoverIntensityColor(meeting)}}">
        </div>
      </div>
    </div>
    <div class="text-lg text-center flex flex-row justify-evenly items-center">
      <div *ngFor="let ps of getOnBoardPersons(meeting); let index = index"
           class="p-1 border border-2 rounded-xl"
           [class.ml-10]="index === maxTopPlayers"
           [class.border-gray-900]="activePerson !== ps.person"
           [class.border-yellow-400]="activePerson == ps.person"
           (click)="setActivePerson(ps.person)"
      >
        <div class="">
          <img src="assets/people/{{ps.person}}.jpg"
               alt="{{ps.person}}"
               class="h-16 rounded-xl"
          />
        </div>
        <div class="">
          {{ps.earnings}}
        </div>
      </div>
    </div>
  </div>
</div>
