<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="mx-8 my-3 grid grid-cols-9 gap-3">
    <div *ngFor="let section of [BY_OVERVIEW]"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(section)}}"
         (click)="activeBadge = section"
    >
      {{ section }}
    </div>
    <div *ngFor="let d of raceOneCards"
         class="px-4 pt-1.5 pb-2 text-xl rounded-full border {{getBadgeStyle(d.meeting)}}"
         (click)="activeBadge = d.meeting"
    >
      {{ formatMeeting(d.meeting) }}
      {{ d.venue }}
    </div>
  </div>

  <div *ngIf="![BY_OVERVIEW].includes(activeBadge)"
       class="my-4"
  >
    <app-pool [racecards]="activeRacecards"></app-pool>

    <app-dividend [racecards]="activeRacecards"></app-dividend>
  </div>

  <table *ngIf="activeBadge === BY_OVERVIEW"
         class="my-4 mx-auto table-fixed border-collapse font-mono text-center"
  >
    <thead class="text-xl">
      <th class="w-24 border border-gray-600 py-1 text-yellow-400 cursor-pointer"
          (click)="rotateOverviewMode()"
      >
        {{ activeMode }}
      </th>
      <th *counter="let race of MAX_RACE_PER_MEETING"
          class="w-28 border border-gray-600"
      >
        {{ formatRace(race) }}
      </th>
      <th *counter="let x of 3"
          class="w-16 border border-gray-600"
      >
        <div *ngIf="x === 1" class="mx-auto w-5 h-5 rounded-full bg-red-600"></div>
        <div *ngIf="x === 2" class="mx-auto w-5 h-5 rounded-full bg-green-600"></div>
        <div *ngIf="x === 3" class="mx-auto w-5 h-5 rounded-full bg-blue-600"></div>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let m of meetings; let last = last"
          class="hover:bg-gray-800"
      >
        <td class="h-10 border border-gray-700 text-xl py-1"
            [class.border-b-yellow-400]="!last && isBoundaryMeetingStr(meetings, m)"
        >
          {{ formatMeeting(m) }}
        </td>
        <td *counter="let race of MAX_RACE_PER_MEETING"
            class="h-10 border border-gray-700 py-1"
            [class.bg-gray-800]="isHighlightOverviewCell(m, race)"
            [class.border-b-yellow-400]="!last && isBoundaryMeetingStr(meetings, m)"
        >
          <div *ngIf="activeMode === OVERVIEW_MODES[0]"
               class="flex flex-row items-center"
          >
            <div class="w-1/2">
              <div class="mx-auto w-5 h-5 rounded-full {{getDividendIntensityColor(m, race)}}">
              </div>
            </div>
            <div class="w-1/2 text-xl"
                 [class.opacity-0]="getStarterCount(m, race) < 1 || getStarterCount(m, race) > 10"
            >
              {{ formatRace(getStarterCount(m, race)) }}
            </div>
          </div>

          <div *ngIf="activeMode === OVERVIEW_MODES[1]"
               class="flex flex-row items-center"
          >
            <div class="w-1/2"
                 [class.opacity-0]="!isPlayerDouble(m, race, true) && ((getWinnerStarter(m, race)?.winOdds || 0) < 8)"
                 [class.text-red-600]="isPlayerDouble(m, race, true)"
            >
              @{{ (getWinnerStarter(m, race)?.winOdds || 0) | number: '1.0-0' }}
            </div>
            <div class="w-1/2"
                 [class.text-red-600]="isPlayerDouble(m, race, true)"
            >
              {{ getWinnerStarter(m, race)?.trainer || '' }}
            </div>
          </div>

          <div *ngIf="activeMode === OVERVIEW_MODES[2]"
               class="flex flex-row items-center"
          >
            <div class="w-1/2"
                 [class.opacity-0]="!isPlayerDouble(m, race, false) && ((getWinnerStarter(m, race)?.winOdds || 0) < 8)"
                 [class.text-red-600]="isPlayerDouble(m, race, false)"
            >
              @{{ (getWinnerStarter(m, race)?.winOdds || 0) | number: '1.0-0' }}
            </div>
            <div class="w-1/2"
                 [class.text-red-600]="isPlayerDouble(m, race, false)"
            >
              {{ getWinnerStarter(m, race)?.jockey || '' }}
            </div>
          </div>

          <div *ngIf="activeMode === OVERVIEW_MODES[3]"
               class="grid grid-cols-4"
          >
            <div *ngFor="let order of getDividendTop4(m, race)"
                 [class.opacity-0]="!isSpecialOrder(order)"
            >
              {{ order }}
            </div>
          </div>
        </td>
        <td *counter="let x of 3"
            class="h-10 border border-gray-700 text-xl py-1"
            [class.opacity-0]="0 === getRaceCountByMeetingAndIntensity(m, x)"
            [class.border-b-yellow-400]="!last && isBoundaryMeetingStr(meetings, m)"
        >
          {{ getRaceCountByMeetingAndIntensity(m, x) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
