<div class="mx-10 my-6 flex flex-row justify-between noselect">
  <div *ngFor="let sg of sectionGroups"
       class="w-full mx-6 flex bg-gray-800 rounded-full"
  >
    <div *ngFor="let s of sg"
         class="w-full py-4 text-2xl text-center rounded-full {{getToggleStyle(s)}}"
         (click)="setActiveSectionGroup(s)"
    >
      {{s}}
    </div>
  </div>
</div>

<div *ngIf="activeSection === sections[0]"
     class="my-6 noselect"
>
  <table class="mx-auto my-6 table-fixed border-collapse">
    <thead>
    <th class="w-24 border border-gray-600">
      <i class="fa fa-dollar fa-lg"></i>
    </th>
    <th *counter="let race of maxRace"
        class="w-32 border border-gray-600 text-xl"
    >
      {{race}}
    </th>
    </thead>
    <tbody>
    <ng-container *ngFor="let poolGroup of finalPoolGroups; let first = first">
      <tr *ngFor="let meeting of getUniqueMeetings(poolGroup); let last = last">
        <td class="py-2 text-xl text-center border border-gray-700"
            [class.border-b-2]="first && last"
            [class.border-b-yellow-400]="first && last"
        >
          {{formatMeeting(meeting)}}
        </td>
        <td *counter="let race of maxRace"
            class="p-2 border border-gray-700 hover:bg-gray-800"
            [class.border-b-2]="first && last"
            [class.border-b-yellow-400]="first && last"
        >
          <table class="mx-auto">
            <tr>
              <td class="text-red-600">
                {{ activeGroup === poolGroups[0]
                ? formatAmount(getFinalPool(poolGroup, meeting, race).WIN)
                : formatAmount(getFinalPool(poolGroup, meeting, race).FT)
                }}
              </td>
              <td class="{{activeGroup === poolGroups[0] ? 'px-1.5' : 'px-2.5'}}">
                {{formatGrade(getFinalPool(poolGroup, meeting, race).grade)}}
              </td>
              <td class="text-green-600">
                {{ activeGroup === poolGroups[0]
                ? formatAmount(getFinalPool(poolGroup, meeting, race).QIN)
                : formatAmount(getFinalPool(poolGroup, meeting, race).TCE)
                }}
              </td>
            </tr>
            <tr>
              <td class="text-blue-600">
                {{ activeGroup === poolGroups[0]
                ? formatAmount(getFinalPool(poolGroup, meeting, race).PLA)
                : formatAmount(getFinalPool(poolGroup, meeting, race).FQ)
                }}
              </td>
              <td class="text-center {{activeGroup === poolGroups[0] ? 'px-1.5' : 'px-2.5'}}">
                {{formatStarters(getFinalPool(poolGroup, meeting, race).starters)}}
              </td>
              <td class="text-purple-600">
                {{ activeGroup === poolGroups[0]
                ? formatAmount(getFinalPool(poolGroup, meeting, race).QPL)
                : formatAmount(getFinalPool(poolGroup, meeting, race).DBL)
                }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="activeSection === sections[1]"
     class="my-6 noselect"
>
  <div class="mx-6 my-4 flex flex-row justify-evenly">
    <div *ngFor="let m of recentMeetings"
         class="px-4 py-2 text-center text-2xl rounded-full border {{getMeetingStyle(m.meeting)}}"
         (click)="setActiveMeeting(m.meeting)"
    >
      {{formatMeeting(m.meeting)}}
      <span class="ml-2">
        {{m.venue}}
      </span>
    </div>
  </div>
  <table class="mx-auto my-5 text-center table-fixed border-collapse">
    <thead>
    <th class="w-16 py-2 border border-gray-600 cursor-pointer hover:text-yellow-400"
        (click)="toggleTimeSeriesViewMode()"
    >
      <span *ngIf="timeSeriesViewModeInAmount">
        <i class="fa fa-dollar fa-lg"></i>
      </span>
      <span *ngIf="!timeSeriesViewModeInAmount">
        <i class="fa fa-percent fa-lg"></i>
      </span>
    </th>
    <th *ngFor="let point of timePointsInMinute"
        class="w-24 py-2 border border-gray-600 text-xl"
        [class.text-yellow-400]="point == 0 || point == -30"
    >
      {{formatTimePoint(point)}}
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let pool of activeMeetingFinalPools">
      <td class="p-2 text-xl border border-gray-700">
        {{pool.race}}
      </td>
      <td *ngFor="let point of timePointsInMinute"
          class="p-1 border border-gray-700 hover:bg-gray-800"
          [class.bg-gray-800]="highlightTimeSeriesCell(pool.race, point)"
      >
        <div class="grid grid-cols-2 gap-1">
          <div class="text-red-600">
            {{ activeGroup === poolGroups[0]
            ? formatTSAmount(pool.WIN, getTimePool(pool.meeting, pool.race, point).WIN, point)
            : formatTSAmount(pool.FT, getTimePool(pool.meeting, pool.race, point).FT, point)
            }}
          </div>
          <div class="text-green-600">
            {{ activeGroup === poolGroups[0]
            ? formatTSAmount(pool.QIN, getTimePool(pool.meeting, pool.race, point).QIN, point)
            : formatTSAmount(pool.TCE, getTimePool(pool.meeting, pool.race, point).TCE, point)
            }}
          </div>
          <div class="text-blue-600">
            {{ activeGroup === poolGroups[0]
            ? formatTSAmount(pool.PLA, getTimePool(pool.meeting, pool.race, point).PLA, point)
            : formatTSAmount(pool.FQ, getTimePool(pool.meeting, pool.race, point).FQ, point)
            }}
          </div>
          <div class="text-purple-600">
            {{ activeGroup === poolGroups[0]
            ? formatTSAmount(pool.QPL, getTimePool(pool.meeting, pool.race, point).QPL, point)
            : formatTSAmount(pool.DBL, getTimePool(pool.meeting, pool.race, point).DBL, point)
            }}
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
